section {
  overflow:visible;
}

section.page-root{
  display: flex;
  flex-flow: column;
  &>label{
    display: flex;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    min-height: min-content;
    height: 32px;
    font-size: 1.1em!important;
    color: var(--color);

    &>span{
      margin: auto;
      flex-grow: 1;
    }
    &>input{
      margin: auto;
    }
  }
}
