@import "../styles/variables";

.popup-container {
  position: absolute; height: 100%; width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  top: 0; left: 0;
  z-index: 9999;
}

.popup {
  position: absolute; height: 33%; width: 33%;
  right: 0; left: 0; top: 0; bottom: 0; margin: auto;
  background-color: whitesmoke;
  border-radius: $radius;
  border: 1px solid $border-color;
  & > label {
    font-size: 1.1rem;
  }
}

