.draggable-container {
    height: 500px; width: 1000px;
    background-color: lightgreen;
    overflow: hidden;
}
.draggable {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: relative;
    cursor: pointer;
}

#test {
    position: absolute;
    background: red;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    z-index: 999;
    top: 10px;
    left: 10px;
}
.my-container {
    height: 200px;
    width: 200px;
    border: 2px dashed black;
    //border-radius: 0 0 999px 0;
    position: absolute;
    top: 0
}
