@import "./variables";

.root {height: 100%; width: 100%;}

.default.DPackage {
  position: absolute;
  height: inherit !important;
  width: inherit !important;
  & > .root { border: none; }
}

.selected-by-me {
  outline: 1px dashed rgba(0, 0, 0, 0.3);
}

.selected-by-others {
  outline: 1px dashed indigo;
}
.Edge.selected-by-me, .Edge.selected-by-others{
  outline: none;
}

