$pkg-size: 30em;
$class-size: 13em;
$enum-size: 13em;
$feature-text-size: .8rem;
$radius: .2em;

$background: white;
$pkg-color: green;
$class-color: red;
$enum-color: orange;
$feature-color: whitesmoke;
$border-color: #0000005c;
