.selected{
  border: 1px dashed red !important;
}

.ocl_match {
  box-shadow: 0 0 6pt 3pt red;
}

.childrens {
  height: 100%;
  width: 100%;
}

.pkg-root > .childrens {
  height: 88%;
  width: 100%;
  position: absolute;
}
