.selected{
  // border: 5px solid blue;
  // outline: 7px solid blue;
  box-shadow: 0 0 6pt 3pt var(--color-4);
}
.vertex{
  display: inline-block;
  position: absolute;
}

// for attributes
.Vertex.Class .vertex{
  position: relative;
  display: flex;
  border: none !important;
}
