.selected{
  border: 2px solid blue;
}
.vertex{
  display: inline-block;
  position: absolute;
}

// for attributes
.Vertex.Class .vertex{
  position: relative;
  display: flex;
  border: none !important;
}
