.topbar {
  width: 100%;
  height: auto;
  padding: 2px; margin-bottom: 1px;
  background-color: whitesmoke;
}
.topbar .item {
  padding: 2px; margin-top: auto; margin-bottom: auto;
  cursor: pointer; color: whitesmoke; background-color: #108EE9;
}
