.panelDockSide{
  border: 2px solid red;
}
.docking-tab-content{
  padding:10px;
}

.smart-close-button{
  display: none;
}

/* hide mono-tab unless i'm dragging over it to make it multi-tab * /
smart-tabs-window:not([ontop]:not([focus])) .smart-tab-selected:only-child{
    display: none;
}

/* smart-splitter:not([dragged]):not([show-locked-items])* /
smart-splitter[dragged] .smart-tab-selected:only-child{
    display: none;
}
*/

.smart-tabs .smart-tab-label-container{
  border: 2px solid red;
}
.smart-tab-selected:only-child{
  display:none;
}
.smart-tabs .smart-tab-label-container:only-child{
  display:none;
}
#mainDockLayout[dragged] smart-tabs-window[ontop]:not([focus]) .smart-tabs .smart-tab-label-container:only-child{
  display: inline-block;
}
