.tab-btn.commandbar-btn{
    margin-right: 2px;
    font-size: 1.26em !important; // it is combined 1.5 old in <i> and * 0.9 in ::before
    &::before {
        display: block;
        padding: 0;
        text-align: center;
    }
}
.commandbar {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start!important;
    width: 950px;
}

.commandbar .ottanio {
    background: var(--gr-1); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}

.commandbar .green {
    background: var(--gr-2); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}

.commandbar .dark-red {
    background: var(--gr-3); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}

.commandbar .orange-yellow {
    background: var(--gr-4); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .gray {
    background: var(--gr-5); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .light-green  {
    background: var(--gr-6); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .light-red {
    background: var(--gr-7); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .dark-blue {
    background: var(--gr-8); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .azure {
    background: var(--gr-9); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .yellow {
    background: var(--gr-10); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .purple {
    background: var(--gr-11); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: white;
    & .bi {
        color: white;
    }
    border: none;
}
.commandbar .blue {
    background: var(--gr-12); // linear-gradient(90deg, hsla(173, 89%, 70%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
    color: var(--color);
    & .bi {
        color: var(--color);
    }
    border: none;
}

.commandbar .red {
    background: linear-gradient(90deg, hsla(14, 90%, 73%, 1) 0%, hsla(331, 54%, 44%, 1) 100%);
    color: white;
    border: none;
}

.commandbar .dark {
    background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
    color: white;
    border: none;

    & .bi {
        color: white;
    }
}

.commandbar .rainbow {
    background: linear-gradient(90deg, hsla(182, 64%, 53%, 1) 0%, hsla(34, 98%, 50%, 1) 50%, hsla(323, 100%, 47%, 1) 100%);

    color: white;
    border: none;

    & .bi {
        color: white;
    }
}

.commandbar .red-orange {
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    color: white;
    border: none;

    & .bi {
        color: white;
    }
}



.commandbar .clear {
    background: white;
    color: var(--color);


    & .bi {
        color: var(--secondary);
    }
}

.commandbar .default {
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    color: var(--color);
    border: none;

}

.commandbar .card {
    width: 23em;
    margin-right: 26px;
    margin-left: 0px;
    padding: 1.2em;
}

.commandbar .card:last-child {
    width: 23em;
    margin-right: 0px;
    margin-left: 0px;
    padding: 1.2em;
}

.commandbar .card {
    display: grid;
    grid-template-columns: auto auto auto auto; //20% 80%;
    grid-gap: 0px;
}

.commandbar .card .icon {
    flex: 1;
    font-size: 2.5em;
    justify-content: center;
}

.commandbar .card .icon .bi:hover {
    cursor: pointer;
    color: var(--accent);
}
.commandbar .card .icon .disabled:hover {
    color: inherit!important;
    cursor: default;
}

.commandbar .card .body h5 {
    // margin-bottom: 0px; was messing with button alignment
    font-size: var(--h1-size);
    font-weight: var(--h1-weight); 
}

.commandbar .card .body {
    // padding-top: 6px;
    display: flex;
    flex-flow: column;
    &>*{
        margin: auto;
        margin-left: 0;
    }

}
