
.suggestion-keys ul {
  font-family: Lekton, monospace;
  padding-left: 3px;
  display: flex;
  flex-flow: wrap;
  justify-content: center; // space-evenly;
  li{
    cursor: pointer;
  }
}

.group.result-container {

  & .output-row:first-child {
    border-top: 2px solid var(--bg-3);
  }

}

.output-row, .suggestion-keys ul {
  position: relative;
}
.output-row, .suggestion-keys ul li {
  &:hover .output-comment,
  &:focus-within .output-comment,
  &:focus .output-comment,
  &:active .output-comment {
    display: block;
  }
}

.suggestion-keys ul li .output-comment {
  left: 2ch;
  right: 0;
}

.console {
  color: var(--color);
  margin: 1rem .5rem;
  padding: 1rem 1.65rem;
  font-weight: 300;
  max-height: 95%;
  border: 1px solid var(--bg-1-5);
  border-radius: var(--tab-radius);
  background-color: var(--bg-1-5)!important;
  // transition: opacity 0.3s ease-in;
  width:  calc(100% - 1rem)!important;

  .output-comment {
    font-family: var(--default-font-family);
    color: var(--font-color-1);
    display: none;
    position: absolute;
    z-index:1;
    background-color: var(--bg-1);
    padding: 1em;
    margin-left: calc(-2px - 2ch);
    border-radius: 1em;
    margin-top: -2px; //var(--vertical-line-space);
    border: 2px solid var(--bg-3);
    box-shadow: var(--model-shadow);
    white-space: normal;
  }

  .console-terminal {
    position: relative;
  }

  .console-terminal::before {
    position: absolute;
    font-family: Lekton, monospace;
    font-size: 1.3em;
    content: ">";
    top: calc(1.25rem - 1px);
    left: 0.75rem;
    // width: 100%!important;
    pointer-events: none;

  }

  .console-terminal textarea {
    width: calc(100% - 0.5rem)!important;
    border: 1px solid var(--bg-4);
    ::-webkit-resizer {
      display: none;
    }
    height: 10rem;
  }

  .console-terminal textarea:focus {
    width: calc(100% - 0.5rem)!important;
    outline: 1px solid var(--accent);
    top: -2px!important;
  }

  .console-terminal .commands {
    position: absolute;
    bottom: calc(1em - 1px);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    left:1px;
    width: calc(100% - 2px - 0.5rem);
    background-color: var(--bg-2);
    height: fit-content;
    border-top: 1px solid var(--bg-3-1);
    font-size: 1.2em;
    pointer-events: none;
  }

  .console-terminal .commands .bi {
    pointer-events: all;
    color: var(--btn-generic);
    margin-left: 5px;
  }

  .console-terminal .commands .bi-slash-circle:hover::before {
    font-family: bootstrap-icon;
    color: var(--btn-generic-accennt);
    content: "\F566";
    cursor: pointer;
  }

  .console-terminal .commands .bi-clipboard-plus:hover::before {
    font-family: bootstrap-icon;
    color: var(--btn-generic-accennt);
    content: "\F721";
    cursor: pointer;
  }

  div.output-row:has(.my-tooltip):hover {
    cursor: help;
  }

  & .console-terminal .commands {
    .undo, .redo{
      float: right;
      margin-left: 0;
      margin-right: 5px;
      .redo{
        margin-right: 15px;
      }
      &.disabled{
        visibility: hidden;
      }
    }
  }

  .console-terminal .commands {
    .bi::before {
      font-family: bootstrap-icon;
      cursor: pointer;
    }
    .bi:hover::before {
      color: var(--btn-generic-accennt);
    }
  }

  .bi-arrow-left-square:hover::before {
    content: "\F12D";
  }
  .bi-arrow-right-square:hover::before {
    content: "\F136";
  }


}

.on-element{
  display: flex;
  color: var(--accent);

  &::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: 0;
    font-family: bootstrap-icons;
    content: "\F5C3";

    /* font-size: 1.5em;
    font-family: bootstrap-icons;

    color: var(--accent);
    border-bottom: 1px dotted var(--bg-3);
    margin: auto 0.25rem;
    // l'elemento era allineato correttamente, ma l'icona stessa non è centrata in verticale. questo lo corregge visualmente.
    height: 10px;
    margin-top: -4.5px;*/
  }
}

.console {

  & textarea {

    font-family: Lekton, monospace;
    font-size: 1em;
    color: var(--color);
    padding: 0.5rem 1.5rem !important;
    margin: 0.25rem;
    border-radius: var(--radius);
  }

  label.on-element {
    font-weight: 500;
  }

  h4 {
    font-family: var(--default-font-family);
    color: var(--accent);
    font-size: 1.3em;
    margin-left: 8px;
    margin-top: 10px;
  }

  .output-row {
    border-top: none;
    border-left: 2px solid var(--bg-3);
    border-right: 2px solid var(--bg-3);
    border-bottom: none;

    background-color: var(--bg-2);
    //padding: 1rem;
    padding: 0rem 2ch;
  }
  .output-row:first-of-type {/*
    border-top: 2px solid var(--bg-3);
    border-left: 2px solid var(--bg-3);
    border-right: 2px solid var(--bg-3);
    border-bottom: none;

    background-color: var(--bg-2);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding: 1rem;*/
    padding-left: 0ch;
    padding-top: 1ch;// width of '0' char
  }
  .output-row:last-of-type {
    border-bottom: 2px solid var(--bg-3);
    border-left: 2px solid var(--bg-3);
    border-right: 2px solid var(--bg-3);
    border-top: none;

    background-color: var(--bg-2);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding-bottom: 1ch;
  }

  h4 + .output-row  {
    border-top: 2px solid var(--bg-3);
    border-left: 2px solid var(--bg-3);
    border-right: 2px solid var(--bg-3);
    border-bottom: none;

    background-color: var(--bg-2);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding: 1rem;
  }

  br {
    display: block;
    height: 1px; width: 100%;
  }

  span.console-error {
    display: block;
    padding: 2px 12px;
    margin-bottom: 4px;
    width: fit-content;
    color: white;
    border-radius: 3px;
    background-color: var(--failure);
    font-weight: 400;
  }

  span.console-error .bi {
    color: white;
  }

  span.console-error-msg {
    display: flex;
    font-family: Lekton, monospace;
    color: var(--bg-5);
    padding-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    >*{
      margin: auto 0.25rem;
    }
  }

  span.console-error-msg .bi {
    font-size: 1.9em;
    color: var(--failure);
  }

  .group {
    padding-left: 0;
  }

  .console-msg {
    font-family: Lekton, monospace;
    color: var(--bg-5);
    color: var(--keyword-color);
    font-weight: var(--keyword-weight);
  }

  textarea{
    margin: 0;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
  textarea:focus {
    outline: 2px solid var(--accent);
  }
}

.on-element {
  margin-bottom: 10px;

  & span {
    font-size: 1.2em;
  }
}

.group {

  & ul {
    padding-left: 5px;
  }

  padding-left: 0!important;
  text-align: left;

  & ul li {
    float: left;
    list-style: none;
    display: block;
    height: fit-content;
    width: fit-content;
    color: white;
    background-color: var(--bg-5);
    padding: 1px 10px 1px 10px;
    border-radius: 4px;
    margin: 2px;

  }
  & ul li:hover {
    background-color: var(--accent);
    color: white;
  }

}
/*
.context-keys-list  {
  & ul {
    padding-left: 5px!important;
  }
  & ul li {
    float: left;
    list-style: none;
    display: block;
    height: fit-content;
    width: fit-content;
    color: white;
    background-color: var(--bg-5);
    padding: 1px 10px 1px 10px;
    border-radius: 4px;
    margin: 2px;

  }
  & ul li:hover {
    background-color: var(--accent);
    color: white;

  }
}*/

.context-keys {
  display:block;
  font-weight: 500;
  //clear: both;
  padding: 30px 0px 10px 0;
  margin-left: 8px;
  color: var(--accent);
  font-size: 1.3em;
}
