/*section {
  padding: .5rem; // p-2 too generic selector
}*/

.console {

}

.properties-tab,
.collaborative-tab,
.tree-view,
.viewpoint-tab,
.template-tab,
.style-tab,
.events-tab,
.options-tab,
.node-editor,
.console {
  margin: 0.5rem!important;
  background-color: var(--bg-2);
  padding-top: 0.5rem!important;
  padding-left: 1.5em!important;
  padding-left: 1.5em!important;

  & section {

  }
}

.properties-tab {
  overflow: hidden!important;
}

.no-data-to-display {
  background-color: var(--bg-2-5);
  margin: 0.5rem;
}

.collaborative-tab h1,
.properties-tab h1,
.viewpoint-tab h1,
.template-tab h1.view,
.style-tab h1.view,
.events-tab h1.view,
.options-tab h1.view,
.node-editor h3,
.console h1 {

  font-size: 1.1em!important;
  color: var(--accent);
  padding-bottom: 0.5em!important;
  border-bottom: 1px solid var(--bg-2-5)!important;
  margin-bottom: 1em!important;
  padding-top: 0!important;


  &::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F789";
  }
}

.collaborative-tab h1::before {
  position: relative;
  top: 2px;
  font-size: 1.15em;
  margin-right: var(--tab-sep);
  font-family: bootstrap-icons;
  content: "\F2EE";
}
.collaborative-tab h5 {
  font-size: 1.1em!important;
  color: var(--accent);
}

.collaborative-tab input {
  color: var(--color);
  outline: 1px solid var(--accent);
  border: none;
  // outline-color: var(--accent)!important;
  // outline-width: 2px!important;
  height: var(--input-height)!important;

  padding: 1px 8px!important;
  min-width: 170px;
  transition: min-width 0.3s ease-in-out;
}

.collaborative-tab input::placeholder {
  color: var(--bg-3);
  font-style: italic;
}

.collaborative-tab input:focus {
  padding: 2px 9px;
  border-radius: var(--radius)!important;
  height: var(--input-height);
  outline: 2px solid var(--accent);

  min-width: 70%;
  border-radius: var(--radius)!important;
  border: none;
}
.collaborative-tab .alert {
  background-color: var(--accent);
  color: white;
  border: 1px dotted var(--accent);
  padding: 6px 10px;
  width: fit-content;
  margin: 14px;

  & i {
    color: white;
    padding-right: 4px;
  }
}





.properties-tab h1 {padding-top: 0px!important;}
.console h1::before {
  content: "\F5C3";
}






.template-tab h1::before {
  position: relative;
  top: 2px;
  font-size: 1.15em;
  margin-right: var(--tab-sep);
  font-family: bootstrap-icons;
  content: "\F2C7";
}


.style-tab h1::before {
  position: relative;
  top: 2px;
  font-size: 1.15em;
  margin-right: var(--tab-sep);
  font-family: bootstrap-icons;
  content: "\F66D";
}

.events-tab {

  & h2 {
    font-size: 1em;
    color: var(--accent);
  }
  & h1::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F18A";
  }
}

.options-tab {
  & p {
    font-size: 1.1em!important;
  }

  & h2 {
    font-size: 1em;
    color: var(--accent);
  }
  & h1::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F5D9";
  }

  & h5 {
    font-size: 1.1em!important;
    color: var(--accent);
  }

  & section.node {
    padding-left: 0;
    padding-right: 0;

    & .px-2 {
      padding-left: 0!important;
    }
  }

  & section {
    padding-left: 0!important;

    & .px-2.no-padding-left {
      padding-left: 0!important;
      padding-right: 0!important;

      & .input-container {



        &>label.mx-3 {
          margin-right: 0!important;
          margin-bottom: 10px;
        }
      }
    }
  }




  .options-field {

    padding-left: 0;
    font-size: 1em;



    & h5 {

      color: var(--accent);
      margin-left: 0;
      padding-left: 0!important;
      font-size: 1.2em;
    }

  }
}

.options-tab .section .node h5 {
  padding-left: 0!important; color: red!important;
}

.node-editor {

  & h3::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F2EC"!important; // geo-alt F3E8, capsule F7DF, code slash F2C6, diagram2 F2EC, disc F2FF, gear F3E3, hand index F403, window F620
  }

  & h6 {
    position: relative;
    font-size: 1.1em;
    color: var(--accent)!important;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 2em;
  }

  .sub-element {
    margin-left: 0px!important;
  }
  .sub-element:last-of-type {
      padding-bottom: 10px;
  }

  .object-state {
    border: 1px solid var(--bg-3);
    background-color: var(--bg-1-1);
    border-radius: var(--radius);
    padding: 0.5em;
    font-family: Lekton;
  }

}
