section {
  padding: .5rem; // p-2
}

.console {
  
}

.properties-tab,
.tree-view,
.viewpoint-tab,
.template-tab,
.style-tab,
.events-tab,
.options-tab,
.node-editor,
.console {
  margin: 0.5rem!important;
  background-color: var(--bg-2);
  padding-top: 0.5rem!important;
  padding-left: 1.5em!important;
  padding-left: 1.5em!important;

  & section {

  }
}

.properties-tab {
  overflow: hidden!important;
}

.no-data-to-display {
  background-color: var(--bg-2-5);
  margin: 0.5rem;
}

.properties-tab h1,
.viewpoint-tab h1,
.template-tab h1.view,
.style-tab h1.view,
.events-tab h1.view,
.options-tab h1.view,
.node-editor h3,
.console h1 { 

  font-size: 1.1em!important;
  color: var(--accent);
  padding-bottom: 0.5em!important;
  border-bottom: 1px solid var(--bg-2-5)!important;
  margin-bottom: 1em!important;
  padding-top: 0!important;


  &::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F789";
  }
}

.properties-tab h1 {padding-top: 0px!important;}
.console h1::before {
  content: "\F5C3";
}




.template-tab h1::before {
  position: relative;
  top: 2px;
  font-size: 1.15em;
  margin-right: var(--tab-sep);
  font-family: bootstrap-icons;
  content: "\F2C7";
}


.style-tab h1::before {
  position: relative;
  top: 2px;
  font-size: 1.15em;
  margin-right: var(--tab-sep);
  font-family: bootstrap-icons;
  content: "\F66D";
}

.events-tab {

  & h2 {
    font-size: 1em;
    color: var(--accent);
  }
  & h1::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F18A";
  }
}

.options-tab {

  & h2 {
    font-size: 1em;
    color: var(--accent);
  }
  & h1::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F5D9";
  }

  

  .options-field {

    padding-left: 0;
    font-size: 1em;

  
    & h5 {

      color: var(--accent);
      margin-left: 0;
      padding-left: 0;
      font-size: 1.2em;
    }
    
  }

}

.node-editor {
  
  & h3::before {
    position: relative;
    top: 2px;
    font-size: 1.15em;
    margin-right: var(--tab-sep);
    font-family: bootstrap-icons;
    content: "\F2EC"!important; // geo-alt F3E8, capsule F7DF, code slash F2C6, diagram2 F2EC, disc F2FF, gear F3E3, hand index F403, window F620
  }

  & h6 {
    position: relative;
    font-size: 1.1em;
    color: var(--accent)!important;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 2em;
  }

  .sub-element {
    margin-left: 0px!important;
  }
  .sub-element:last-of-type {
      padding-bottom: 10px;
  }

  .object-state {
    border: 1px solid var(--bg-3);
    background-color: var(--bg-1-1);
    border-radius: var(--radius);
    padding: 0.5em;
    font-family: Lekton;
  }
  
} 
