.dock-style-editors .dock-tabpane  section {

  color: var(--color);
  // margin: 1rem .5rem;
  // padding: 1rem 1.65rem;
  font-weight: 300;

  border: 1px solid var(--bg-1-5);
  border-radius: 8px;
  background-color: var(--bg-1-5);
  transition: opacity 0.3s;

  & h4 {
    padding-top: 20px!important;
  }

  & input[type=text], input[type=number] {
    padding: 1px 8px;
    outline-color: var(--accent);
    outline-width: 1px;

  }

  & input[type=text] {
    min-width: 170px;
    transition: min-width 0.3s ease-in-out;
  }

  & input[type=number] {
    width: 60px;
  }

  & input[type=text]:focus, input[type=number]:focus {
    border: 1px solid var(--accent);
    padding: 2px 9px;
  }

  & input[type=text]:focus {
    min-width: 70%;
  }

  & input[type=checkbox] {
    accent-color: var(--accent);
  }
}


/** pseudo fix per editor monaco **/

/* todo per damiano, dopo gli ultimi aggiornamenti, l'editor monaco faceva schifo, gli ho dato una buona sistemata, ma non è perfetto - dacci un'occhiata, tra l'altro non so se questo è il posto migliore dove farlo */

.dock-style-editors .dock-tabpane:has(input) .monaco-editor-wrapper section::before {
  content: none;
}

.dock-style-editors .dock-tabpane:has(input) .monaco-editor-wrapper {
  background-color: white;
  margin:0;
  padding:0!important;
  border-radius:  var(--radius);
  border: 1px solid var(--color);
}
.dock-style-editors .dock-tabpane:has(input) .monaco-editor-wrapper .margin-view-overlays {
  width: 0px!important;
  margin:0;

}
.margin {
  padding: 0!important;
  margin: 0!important;
  width: 30px!important;

}
.line-numbers {

  margin: 0!important;
  width: 20px!important;
}
.monaco-scrollable-element {
 
  left: 30px!important;
}
.view-lines.monaco-mouse-cursor-text {
  width: 100%!important;
}
.current-line.current-line-margin-both {
  width: 31px!important;
}

.dock-style-editors .dock-tabpane:has(input) .monaco-editor-wrapper section {
  background-color: white;
  padding: 0;
}

/** fine **/

.dock-style-editors .dock-tabpane:has(input) section::before {

  display:block;
  width: 100%;
  font-size: 1.5em;
  font-family: bootstrap-icons;
  content: "\F4CA";
  color: var(--accent);
  border-bottom: 1px dotted var(--bg-3);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  

}

.dock-style-editors .dock-tabpane .input-container:has(input) > .me-2 {
  height: 2em;
}

.input-container {
  & select {
    height: 28px;
    width: 170px;
    padding: 1px 6px!important;
    outline-color: var(--accent);
    outline-width: 1px;
  }

  & input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {

    appearance: auto;
    opacity: 1;

  }


}
.dock-style-editors .dock-tabpane .input-container:has(input:focus) > .me-2::before, .dock-style-editors .dock-tabpane .input-container:has(input:hover) > .me-2::before,
.dock-style-editors .dock-tabpane .input-container:has(select:focus) > .me-2::before, .dock-style-editors .dock-tabpane .input-container:has(select:hover) > .me-2::before {

  position: relative;
  right: 0px;
  top: 0;
  border-left: 4px solid var(--accent);
  width: 8px;
  margin-right: 4px;
  height: 0.7em;
  font-family: bootstrap-icons;
  content: "";
  font-size: 1em;
  transition: border 0.3s;

}

.dock-content-holder #DockComponent_rightbar_1 {

  // Summary

  overflow: scroll;
}

.dock-content-holder #DockComponent_rightbar_2 {

  // Properties / Structure

  & section { 
    margin: 10px;
    border-radius: var(--tab-radius);

  }
}

.dock-content-holder #DockComponent_rightbar_4 {

  // Tree View

  & section {

    margin: 10px;
    border-radius: var(--tab-radius);
    
  }

  & section:has(section) section {
    padding: 0;
    margin: 0;
  }

  & section:has(section) section .command-bar:nth-child(1) {
    display: none;
  }

  & section div.command-bar {
    margin-bottom: 20px!important;
  }

}

.dock-content-holder #DockComponent_rightbar_8 {

  // Logger

  border: 1px solid red;

  }

/* backup
.dock-style-editors .dock-tabpane  section {

  color: var(--color);
  margin: 1rem .5rem;
  padding: 1rem 1.65rem;
  font-weight: 300;

  border: 1px solid var(--bg-1-5);
  border-radius: 8px;
  background-color: var(--bg-1-5);
  transition: opacity 0.3s;

  & input[type=text], input[type=number] {
    padding: 1px 8px;
    outline-color: var(--accent);
    outline-width: 1px;

  }

  & input[type=text] {
    min-width: 170px;
    transition: min-width 0.3s ease-in-out;
  }

  & input[type=number] {
    width: 60px;
  }

  & input[type=text]:focus, input[type=number]:focus {
    border: 1px solid var(--accent);
    padding: 2px 9px;
  }

  & input[type=text]:focus {
    min-width: 70%;
  }

  & input[type=checkbox] {
    accent-color: var(--accent);
  }
}

.dock-style-editors .dock-tabpane:has(input) section::before {
  display:block;
  width: 100%;
  font-size: 1.5em;
  font-family: bootstrap-icons;
  content: "\F4CA";
  color: var(--accent);
  border-bottom: 1px dotted var(--bg-3);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;

}

.dock-style-editors .dock-tabpane .input-container:has(input) > .me-2 {
  height: 2em;
}

.input-container {
  & select {
    height: 28px;
    width: 170px;
    padding: 1px 6px!important;
    outline-color: var(--accent);
    outline-width: 1px;
  }

  & input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {

    appearance: auto;
    opacity: 1;

  }


}
.dock-style-editors .dock-tabpane .input-container:has(input:focus) > .me-2::before, .dock-style-editors .dock-tabpane .input-container:has(input:hover) > .me-2::before,
.dock-style-editors .dock-tabpane .input-container:has(select:focus) > .me-2::before, .dock-style-editors .dock-tabpane .input-container:has(select:hover) > .me-2::before {

  position: relative;
  right: 0px;
  top: 0;
  border-left: 4px solid var(--accent);
  width: 8px;
  margin-right: 4px;
  height: 0.7em;
  font-family: bootstrap-icons;
  content: "";
  font-size: 1em;
  transition: border 0.3s;

}

.dock-content-holder #DockComponent_rightbar_1 {

  // Summary

  overflow: scroll;
}

.dock-content-holder #DockComponent_rightbar_2 {

  // Properties / Structure

  & section {
  }
}

.dock-content-holder #DockComponent_rightbar_4 {

  // Tree View

  & section {

  }

  & section:has(section) section {
    padding: 0;
    margin: 0;
  }

  & section:has(section) section .command-bar:nth-child(1) {
    display: none;
  }

}



.dock-content-holder #DockComponent_rightbar_5 {

  // Node *******


}

.dock-content-holder #DockComponent_rightbar_7 {

  // Console *******


  & .console {
    color: var(--color);
    margin: 1rem .5rem;
    padding: 1rem 1.65rem;
    font-weight: 300;
    max-height: 95%;
    border: 1px solid var(--bg-1-5);
    border-radius: 8px;
    background-color: var(--bg-1-5)!important;
    transition: opacity 0.3s;
    width:  calc(100% - 1rem)!important;
  }

  & .console::before {
    display:block;
    width: 100%;
    font-size: 1.5em;
    font-family: bootstrap-icons;
    content: "\F5C3";
    color: var(--accent);
    border-bottom: 1px dotted var(--bg-3);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  & .console {

    & textarea {
      font-family: Courier, monospace;
      font-size: 1em;
      color: var(--color);
      padding: 0.3rem 0.5rem!important;
      margin: 2px;
    }

    &  label.on-element {
      font-weight: 500;
    }

    & h4 {
      font-family: "Inter Tight", sans-serif;
      color: var(--accent);
      font-size: 1.3em;
    }

    & .output-row {
      border: 1px solid var(--bg-3);
      background-color: var(--bg-2);
      border-radius: 6px;
      padding: 1rem;
    }

    & span.console-error {
      display: block;
      padding: 2px 12px;
      margin-bottom: 4px;
      width: fit-content;
      color: white;
      border-radius: 3px;
      background-color: var(--failure);
      font-weight: 400;
    }


    & span.console-error .bi {
      color: white;
    }

    & span.console-error-msg {
      display: flex;
      font-family: Lekton, monospace;
      color: var(--bg-5);
      padding-left: 0px;
      margin-top: auto;
      margin-bottom: auto;
      >*{
        margin: auto 0.25rem;
      }
    }

    & span.console-error-msg .bi {
      font-size: 1.9em;
      color: var(--failure);
    }

    & .context-keys {
      font-weight: 500;
      font-size: 1.1em;
    }

    & .context-keys-list {
      font-family: Lekton, monospace;
    }

    & .console-msg {
      font-family: Lekton, monospace;
      color: var(--bg-5); color: red!important;
    }

    & textarea:focus {
      border: 2px solid var(--accent);
      margin: 0;
    }
  }
}

.dock-content-holder #DockComponent_rightbar_8 {

  // Logger

  border: 1px solid red;

}

*/

  .dock-style-models .dock-tabpane {
    overflow-x: scroll;
  }


#Dock_in_view_detail0 .page-root, // Apply to
#Dock_in_view_detail1 section, // Template 
#Dock_in_view_detail2 section, // Style 
#Dock_in_view_detail3 section, // Events
  #Dock_in_view_detail4 section { // Options
  margin: 0.7em;
  border-radius: var(--radius);
}

.ms-2.mb-1.my-auto {
  margin-top: 10px!important;
  font-size: 1em!important;

}

.my-auto {
  margin-top: 10px!important
}

.view-editor-header {

  margin-top: 26px!important;
  margin-bottom: 6px;


}

