.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.summary {
  color: var(--color);
  position: relative;
  top: 10%;
  margin: auto;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  font-family: "Inter Tight", sans-serif;
  font-size: 1em; 

  & .bi-pencil-square {
    font-size: 1.3em;
  }
  & label .bi {
    font-size: 1.7em;
  }
  & .bi:hover {
    color: var(--accent);
  }
  & p {
    font-size: 1.2em;
  }

  & .chart {
    width: 80%;
    height: 8px;
    margin: 0 2px;
  }
  & .bg-3 {
    color: var(--bg-3-1);
    text-align: center;
  }
  & input {
    font-weight: 400;
    font-size: 1em;
    border-radius: 3px;
  }

}

.v-container {
  display: flex;
}

.v-container > label:hover {
  text-decoration: underline;
  cursor: pointer;
}
.v-panel {
  position: absolute;
  background: white;
}
.v-panel > .v-link {
  display: block;
}

.v-panel > .v-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.v-item {
  padding: 0.2em;
  font-size: 0.85em;
}
.v-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.output-row {
  // white-space: pre;
  .output-comment{
    display: none;
    position: fixed;
  }
  &:hover .output-comment,
  &:focus-within .output-comment,
  &:focus .output-comment,
  &:active .output-comment,
  {
    &:first-of-type{
      display: block;
    }
  }
}
