@import "./variables";

/* classes */
.round { border-radius: $radius; }
.circle { border-radius: 999px; }
.bg-smoke { background-color: whitesmoke; }
.class-can-be-extended { border: 2px solid $true !important; border-radius: $radius; }
.class-cannot-be-extended { border: 2px solid $false !important; border-radius: $radius; }
.ui-icon, .ui-widget-content .ui-icon { background-image: none !important; }
.dock-content .dock-tabpane { background-color: whitesmoke; }
.btn-white { background-color: whitesmoke; color: #2e2f34; }
.input { width: 50%; outline: none; font-size: 0.9rem; appearance: none; height: min-content;
  border-radius: $radius; border: 1px solid $border-color; }
.input:focus { border: 1px dashed $border-color; }
.hidden-input { border: 1px dashed transparent; background-color: transparent }
.hidden-input:focus { border: 1px dashed $border-color; }
.input[type='color'] { width: min-content; padding: 0.6em; cursor: pointer; }
.input[type='checkbox'] { width: min-content; cursor: pointer; padding: 0.6em; background-color: $false; }
.input[type='checkbox']:checked { background-color: $true; }
.select { width: 50%; outline: none; font-size: 0.9rem; height: min-content; border-radius: $radius;
  border: 1px solid $border-color; }
.select:focus { border: 1px dashed $border-color; }
.btn { padding: 0 0.1em; line-height: normal; border-radius: $radius; }


/* tags */
hr { margin: 0 0 !important; }
label { height: min-content; font-size: 0.9rem; font-weight: lighter; }
