body{
  // fallbacks
  --border-color: #333;
  --border-width: 1px;

  // console 

    --keyword-color: orange;
    --keyword-weight: 400;

    // btn generic
    --btn-generic: var(--accent);
    --btn-generic-accent: var(--accent);
    --btn-bg: var(--bg-3);
    
    // btn-up
    --btn-up: var(--terziary);
    --btn-up-accent: var(--terziary);
    --btn-up-icon: "\F147";
    --btn-up-icon-accent: "\F146";
   
    // btn-down
    --btn-up: var(--terziary);
    --btn-up-accent: var(--terziary);
    --btn-up-icon: \F126;
    --btn-up-icon-accent: \F125;

    // btn-back
    --btn-back: var(--bg-5);
    --btn-back-accent: var(--terziary);
    --btn-back-icon: \F12F;
    --btn-back-icon-accent: \F12F;

    // btn-fwd
    --btn-up: var(--terziary);
    --btn-up-accent: var(--terziary);
    --btn-up-icon: \F137;
    --btn-up-icon-accent: \F136;

    // btn-delete

    --btn-delete2: var(--falure);
  
    // btn sizes
    
    --btn-x-small-size: 10px;
    --btn-small-size: 24px;
    --btn-medium-size: 20px;
    --btn-large-size: 28px;

    --btn-radius: 4px;
    
    --btn-font-x-small-size: 1.3em;
    --btn-font-small-size: 1.5em;
    --btn-font-medium-size: 1.8em;
    --btn-font-large-size: 2.1em;
    

  // radius

    --tab-radius: 4px;


  // input

    --input-height: 26px;
    --input-width: 170px;

  // select

    --select-height: 26px;
    --select-width: 170px;



  // palette

    --color: #2D4E62; //#233d4d; // primary color
    --accent: #2D4E62; // #087E8B; // #087E8B; //#f3b700; // accent color, I'm considering to define it as the primary color
    --accent-secondary: #f3b700; // planned to be used, but it has been not - used for the enumerators in models
    --neutral: #525251; // #5F0F40; // dark gray
    --disabled: var(--bg-4);

// backgrounds

    --bg: #233d4d;

    --bg-1: white; // main background
    --bg-1-1: #fefefe;
    --bg-1-3: #fcfcfc;
    --bg-1-5: #f8f8f8;
    --bg-2: #f5f5f5;
    --bg-3: #e2e2e1;
    --bg-3-1: #c3c3c1;
    --bg-4: #8f908e;
    --bg-5: #525251;

// success/failure
    --danger: #ed474a;
    --failure: #ed474a;
    --delete: #ed474a;
    --success: #3ddc97;

// alerting

    --alert-color: #721c25;
    --alert-border:#f5c6cc;
    --alert-background: #f8d7db;

// control panel

    --control-color: var(--control);
    --control-border: none; // 1px solid var(--bg-4);
    --control-background-dark: var(--bg-5);
    --control-background-light: var(--bg-2);
    --control-opacity: 0.7;

// font-size, font-weight

    --h1-size: 1.2em;
    --h1-weight: 600;
    --h1-lg-size: 1.4rem!important;
    --h1-lg-weight: 600;
    --h2-size: 1.2em;
    --h2-weight: 600;
    --h3-size: 1.1em;
    --h3-weight: 500;
    --text-lg-size: 1.1em;
    --text-lg-weight: 300;
    --text-md-size: 1em;
    --text-md-weight: 300;
    --text-sm-size: 0.8em;
    --text-sm-weight: 300;

  // model palette

    --model-color: rgb(45, 78, 98)!important; //
    --model-accent: #087E8B;
    --model-accent-secondary: #f3b700;
    --model-background: white;
    --model-radius: var(--radius);
    --model-shadow: 0 0 6px silver;


    --knob: 16px;



    // *******

    --disabled: var(--bg-3);

    --side-padding: 31px;
    --sep-padding: 4em;

    --secondary: #087e8b;
    --terziary: #EE4266; // #5F0F40;

    --color-disabled: var(--bg-3-1);
    --bg-disabled: var(--bg-1-3);

    --radius: 4px;

    --tab-sep: 8px;
    --tab-margin: 0.75rem;

    // default meta-element color

    --default-color: #233d4d;
    --model-color: #5F0F40;
    --package-color: #5F0F40;
    --class-color: #087E8B;
    --abstract-class-color: rgba(ed,47,4a,0.5);
    --enum-color: #f3b700;

    --gr-1: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(186, 89%, 29%, 1) 100%);
    --gr-2: linear-gradient(90deg, hsla(186, 89%, 29%, 1) 0%, hsla(154, 69%, 55%, 1) 100%);
    --gr-3: linear-gradient(90deg, hsla(323, 73%, 22%, 1) 0%, hsla(359, 82%, 60%, 1) 100%);
    --gr-4: linear-gradient(90deg, hsla(359, 82%, 60%, 1) 0%, hsla(45, 100%, 48%, 1) 100%);
    --gr-5: linear-gradient(90deg, hsla(60, 1%, 32%, 1) 0%, hsla(90, 1%, 56%, 1) 100%);
    --gr-6: linear-gradient(90deg, hsla(154, 69%, 55%, 1) 0%, hsla(154, 69%, 72%, 1) 100%);
    --gr-7: linear-gradient(90deg, hsla(359, 82%, 60%, 1) 0%, hsla(359, 82%, 76%, 1) 100%);
    --gr-8: linear-gradient(90deg, hsla(203, 37%, 22%, 1) 0%, hsla(203, 37%, 52%, 1) 100%);
    --gr-9: linear-gradient(90deg, hsla(186, 89%, 29%, 1) 0%, hsla(186, 89%, 48%, 1) 100%);
    --gr-10: linear-gradient(90deg, hsla(45, 100%, 48%, 1) 0%, hsla(45, 100%, 80%, 1) 100%);
    --gr-11: linear-gradient(90deg, hsla(323, 73%, 22%, 1) 0%, hsla(323, 73%, 64%, 1) 100%);
    --gr-12: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);



    --gr-card: var(--gr-12);

    --color-bg-1: #fbdada;
    --color-bg-2: #eefcf6;
    --color-bg-3: #FFFAEB;
    --color-bg-4: #FCEDF7;
    --color-bg-5: #ECFCFE;
    --color-bg-6: #F1F6F9;
    --color-bg-7: #F5F5F5;



    --dockpane-bg: white;

  --palette-1: #084c61;
  --palette-2: #db504a;
  --palette-3: #e3b505;
  --palette-4: #53b3cb;
  --palette-5: #00A896;
  --palette-b: var(--palette-1);
  --palette-w: #fff;
  --palette-r: #dc3545; // btn-danger in bootstrap #f00;
  --palette-g: #6c757d; // btn-secondary in boostrap #777;
  --palette-gg: var(--palette-5); // green
  --palette-1-hover: var(--palette-4); // or #185f91; // invented
  --palette-w-hover: #fff;

  --background-color-add: var(--palette-5);
  --background-color-warn: var(--palette-3);
  --background-color-danger: var(--palette-2);
  --font-color-1: var(--palette-1);
  --font-color-1-hover: var(--palette-1-hover);
  --font-color-2: var(--palette-w);
  --border-color-1: var(--palette-1);
  --background-color-1: var(--background-color-add);
  --background-color-2: var(--background-color-warn);
  --background-color-3: var(--background-color-danger);
}


.drag-handle, .drag-handle.light{
  background-image: url('data:image/svg+xml,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2" fill="%23084c61" /></svg>');
  //background-position-x: -5.48px;
}

.drag-handle.blue{
  background-image: url('data:image/svg+xml,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2" fill="%2353b3cb" /></svg>');
  //background-position-x: -5.48px;
}
.drag-handle.dark{
  background-image: url('data:image/svg+xml,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2" fill="%23d4dae2" /></svg>');
  //background-position-x: -5.48px;
}

$radius: .2em;
$border-color: #0000005c;
$background: white;
$true: #28A745FF;
$false: #DC3545FF;
$fill: -webkit-fill-available;

// damiano: i verified scss variables cannot be used at runtime in user jsx, so i'm making classic css variables below.

$model-color: purple;
$package-color: green;
$class-color: red;
$enum-color: orange;
$feature-color: blue;
$attribute-color: $feature-color;
$reference-color: $feature-color;
$operation-color: $feature-color;
$literal-color: $feature-color;
$parameter-color: pink;
$object-color: indigo;
$value-color: $feature-color;
$annotation-color: black;
$vertex-color: brown;

.w-fit {width: fit-content}
.h-fit {height: fit-content}
.w-min {width: min-content}
.h-min {height: min-content}
.cursor-pointer {cursor: pointer}

.DClass{ --border-color: red; }
.DAttribute, .DReference, .DOperation, .DEnumLiteral, .DValue { --border-color: blue; }
.DParameter,{ --border-color: pink; }
.DObject,{ --border-color: indigo; }
.DEnumerator,{ --border-color: orange; }
.DPackage,{ --border-color: green; }
