@import "./variables";

.model-background { background-image: url("../static/svg/graph.svg"); background-repeat: repeat; }
.name-model { font-weight: bold; color: $model-color; }

.DPackage { height: 15em; width: 30em; overflow: hidden; }
.border-package { border: 0.1em solid $border-color; border-left: 0.25em solid $package-color }
.name-package { font-weight: bold; color: $package-color; }

.DClass { height: 7.5em; width: 15em; overflow: hidden }
.border-class { border: 0.1em solid $border-color; border-left: 0.25em solid $class-color }
.name-class { font-weight: bold; color: $class-color; }

.DEnumerator { height: 7.5em; width: 15em; overflow: hidden }
.border-enum { border: 0.1em solid $border-color; border-left: 0.25em solid $enum-color }
.name-enum { font-weight: bold; color: $enum-color; }

.name-feature { font-weight: bold; color: $feature-color; }
.name-attribute { font-weight: bold; color: $attribute-color; }
.name-reference { font-weight: bold; color: $reference-color; }
.name-operation { font-weight: bold; color: $operation-color; }
.name-parameter { font-weight: bold; color: $parameter-color; }

.DObject { height: 7.5em; width: 15em; overflow: hidden }
.border-object { border: 0.1em solid $border-color; border-left: 0.25em solid $object-color }
.name-object { font-weight: bold; color: $object-color; }

.name-value { font-weight: bold; color: $value-color; }
