@import "./variables";

// [data-nodetype="EdgePoint"],
[data-nodetype="VoidVertex"],
[data-nodetype="Vertex"],
[data-nodetype="GraphVertex"] {
  &>*{ border: 0.1em solid $border-color; }
  &>.ui-resizable-handle{ border: none; }
}

.root {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.Graph.DModel { //damiano: was just .model and breaking things
  position: absolute;
  margin: 3px;
  height: $fill;
  width: $fill;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1) 1.5px, transparent 1.5px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1.5px, transparent 1.5px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}

.model-name {
  font-weight: bold;
  color: $model-color;
}

.package {
  border-left: 0.25em solid $package-color
}
.model-less {
  border-left: 0.25em solid $model-less-color
}

.package-name {
  font-weight: bold;
  color: $package-color;
}

.package-children {
  height: $fill;
  width: $fill;
}


.class {
  border-left: 0.25em solid $class-color
}

.class-name {
  font-weight: bold;
  color: $class-color;
}

.class-children {
  background-color: whitesmoke;
  height: fit-content;
  width: $fill;
}



.enumerator { // was: .enumerator-view
  // height: fit-content;
  // width: $fill;
  border-left: 0.25em solid $enum-color;
}
// .resized>.root.enumerator .enumerator-view{ height: -webkit-fill-available; }

.enumerator-name {
  font-weight: bold;
  color: $enum-color;
}

.enumerator-children {
  background-color: whitesmoke;
  height: fit-content;
  width: $fill;
}

.feature-name {
  font-weight: bold;
  color: $feature-color;
}

.attribute-name {
  font-weight: bold;
  color: $attribute-color;
}

.reference-name {
  font-weight: bold;
  color: $reference-color;
}

.operation-name {
  font-weight: bold;
  color: $operation-color;
}

.parameter-name {
  font-weight: bold;
  color: $parameter-color;
}

.object {
  border-left: 0.25em solid $object-color
}

.object-name {
  font-weight: bold;
  color: $object-color;
}

.object-children {
  background-color: whitesmoke;
  height: fit-content;
  width: $fill;
}

.value-name {
  font-weight: bold;
  color: $value-color;
}

.selected-by-me {
  outline: 1px dashed rgba(0, 0, 0, 0.3);
}

.selected-by-others {
  outline: 1px dashed red;
  & > * {
    cursor: not-allowed;
  }
}


/*
.default-model { position: absolute;  background-image: url("../static/svg/graph.svg"); background-repeat: repeat; height: 100%; width: 100% }
.name-model { font-weight: bold; color: $model-color; }
.default-model > .children { height: 100%; width: 100%; }

.default-package { min-height: 100px; min-width: 100px; height: 100%; width: 100%;
  border: 0.1em solid $border-color; border-left: 0.25em solid $package-color }
.name-package { font-weight: bold; color: $package-color; }
.default-package > .children { height: 100%; width: 100%; }

.default-class { min-height: 100px; min-width: 100px; height: 100%; width: 100%;
  border: 0.1em solid $border-color; border-left: 0.25em solid $class-color }
.name-class { font-weight: bold; color: $class-color; }
.default-class > .children { height: fit-content; width: 100%; background-color: whitesmoke }

.default-enum { min-height: 100px; min-width: 100px; height: 100%; width: 100%;
  border: 0.1em solid $border-color; border-left: 0.25em solid $enum-color }
.name-enum { font-weight: bold; color: $enum-color; }
.default-enum > .children { height: fit-content; width: 100%; background-color: whitesmoke }


.name-feature { font-weight: bold; color: $feature-color; }
.name-attribute { font-weight: bold; color: $attribute-color; }
.name-reference { font-weight: bold; color: $reference-color; }
.name-operation { font-weight: bold; color: $operation-color; }
.name-parameter { font-weight: bold; color: $parameter-color; }

.default-object { min-height: 100px; min-width: 200px; height: 100%; width: 100%;
  border: 0.1em solid $border-color; border-left: 0.25em solid $object-color }
.name-object { font-weight: bold; color: $object-color; }
.default-object > .children { height: fit-content; width: 100%; background-color: whitesmoke }


.name-value { font-weight: bold; color: $value-color; }
*/
