@import "src/styles/variables";

.toolbar {
  width: 10em;
  background: whitesmoke;
  z-index: 1;
  box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
  b {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.75);
  }
  >.toolbar-item {
    display: flex;
    cursor: pointer;
    padding: 2px;
    // border-left: 2px solid;
  }
  /*
  .package {
    border-left-color: $package-color;
  }
  .class {
    border-left-color: $class-color;
  }
  .enumerator {
    border-left-color: $enum-color;
  }
  .attribute, .reference, .operation, .feature, .parameter, .exception, .literal {
    border-left-color: $feature-color;
  }
  .edgepoint, .edge, .vertex, .voidvertex, .voidedge{
    border-left-color: $vertex-color;
  }
  .annotation {
    border-left-color: $annotation-color;
  }
  .object, .LObject {
    border-left: 2px solid $object-color;
  }
  */
}
