@import "src/styles/variables";

.toolbar {
  position: absolute;
  min-height: 100%;
  width: 6.5em;
  min-width: 6.5em;
  background: whitesmoke;
  z-index: 1;
  box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
}
.toolbar > .toolbar-item {
  cursor: pointer;
  margin-top: 5px;
}
.toolbar {
  .package {
    border-left: 2px solid $package-color;
  }
  .class {
    border-left: 2px solid $class-color;
  }
  .enumerator {
    border-left: 2px solid $enum-color;
  }
  .attribute, .reference, .operation {
    border-left: 2px solid $feature-color;
  }
  .parameter, .exception, .literal {
    border-left: 2px solid $feature-color;
  }
  .annotation {
    border-left: 2px solid $annotation-color;
  }
  .object {
    border-left: 2px solid $object-color;
  }
}
