@import "../../styles/variables.scss";

[data-nodetype], [data-nodetype] > * {
  overflow: visible;
}

.toolbar {

    --bg: var(--color);
    --fg: white;

    padding: 0.5rem;
    margin: 0;
    z-index: 12000;
    cursor: move;
    display: flex;
    font-size: 13px;
    background-color: var(--bg);
    color: var(--fg);
    white-space: pre;
    width: 205px;
    margin-right: 100px;
    border-radius: 8px;
    box-shadow:0px 10px 20px rgba(000,000,000,0.3),inset 0px 0px 1px rgba(255,255,255,0.8);
    left: 20px;

    .drag-handle{
      flex-grow: 0;
      width: 12px;
      height: 30px;

      margin-left: calc(-0.5rem + 0.4rem);
      margin-right: calc(-0.3rem + 0.4rem);
      margin-top: 0.25em;
      margin-bottom: 0.25em;

    }

    .toolbar-section-label{

        margin-bottom: 0.25rem;
        margin-left: 0.3rem;
        display: block;
        font-family: 'Inter Tight', sans-serif;
        font-size: 13px;
        font-weight: 400;
    }



    .bi.pin{
      color: var(--fg);
      cursor: pointer;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      z-index: 2 !important;
      box-shadow: none !important;
      padding: 0 4px;

      & :hover{
        color: var(--fg);
        background-color: var(--bg);
        border-radius: 999px;
        scale: 1.15;
      }
    }

    .toolbar-item {
      width: 100%;
      border-radius: 4px;
      margin-right: 0!important;
      padding-left: 2px;
      display: flex;
      cursor: pointer;

      > span{
        width: 100%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 400px;
        margin: auto;
      }
  }

  .w-100 {
    position: relative;
    width: 100%;
    padding-right: 0px;
    margin-left: 0;
    left: -0  px;
  }

  .toolbar .content {
      width: 100%;
  }
  .toolbar-item:hover, .toolbar-item:focus{
    background-color: var(--accent);
    color: var(--fg);
  }
  z-index: 1200;
  box-shadow: var(--smart-elevation-8); // 6px 0 4px -4px #999, -6px 0 4px -4px #999;

  b {
    font-size: 0.75rem;
    // color: rgba(0, 0, 0, 0.75);
  }
  >.toolbar-item {
    display: flex;
    cursor: pointer;
    padding: 2px;
    height: fit-content;
    // border-left: 2px solid;
  }


}

hr.my-1{
  position: relative;
  color: #8a8a8a;
  width: 180px;
  left: 5px;
}

/* meglio non aggiungere cose scorrelate alle classi bootstrap, possono avere effetti collaterali un pò ovunque.
da cambiare con un selettore più specifico.*/

.my-auto {
  font-family: 'Inter Tight', sans-serif!important;
  font-weight: 200;
  padding: 3px 8px 2px 8px;
  height: 26px;

}

.element-icon {
  font-size: 0.9em;
  display: block;
  width: 22px!important;
  height: 20px!important;
  border: 1px solid white;
  border-radius: 24px;
  text-align: center;
  margin-left: 2px;
  
}
