@import "src/styles/variables";

.toolbar {
  width: 6.5em;
  min-width: 6.5em;
  background: whitesmoke;
  z-index: 1;
  box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;

  >.toolbar-item {
    cursor: pointer;
    margin-top: 5px;
    border-left: 2px solid;
  }
  .package {
    border-left-color: $package-color;
  }
  .class {
    border-left-color: $class-color;
  }
  .enumerator {
    border-left-color: $enum-color;
  }
  .attribute, .reference, .operation, .parameter, .exception, .literal {
    border-left-color: $feature-color;
  }
  .edgepoint, .edge, .vertex, .voidvertex, .voidedge{
    border-left-color: $vertex-color;
  }
  .annotation {
    border-left-color: $annotation-color;
  }
  .object {
    border-left: 2px solid $object-color;
  }
}
