.expansion-line{
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 8px;
  height: 100%;
  position: absolute;
  z-index: -1;
}
/*
.entry-root.DViewPoint{
  &>.inline-row>.right-stuff{
    .priority, .change-boost, .right-ico{
    }
    display: none;
  }
}*/
.entry-root.DViewPoint.selected{
  &>.inline-row{
    background: #ddffdd;
    // background: #00ff00;
  }

  // padding: 0.5em; padding-right: 0;
  // position: relative;
}
.inline-row{
  display: flex;
}
.icon.type{
  // border: none;
  margin: auto;
  margin-left: 0.25em;
  margin-right: 0.25em;
  width: 2ic;
  height: 2ic;
  align-content: center;
  border-radius: 100%;
}
ul{
  list-style-type: none;
  padding-left: 1.5em;
}



.tree-Any {
  background-color: #5F0F40;
}
.tree-DEdgePoint, .tree-EdgePoint{
  background-color: #007700;
}
.tree-DEdge, .tree-Edge {
  background-color: #00aa00;
}
.tree-DField, .tree-Field {
  background-color: #aaa;
}
.tree-DVertex, .tree-Vertex {
  background-color: #9F4F80;
}
.tree-DGraphVertex, .tree-GraphVertex {
  background-color: #7F2F60;
}
.tree-DGraph, .tree-Graph {
  background-color: #5F0F40;
}
/*
input[type="number"] {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: initial;
}
*/
input.change-boost{
  width: 2.5em;
  outline: 1px solid black;
  height: 100%;
  // border-radius: 4px;
  border: none;
  text-align: center;
  margin-left: 0.25rem;
  &:hover, &:focus{
    outline: 2px solid black;
  }
}
.vertical-centering{
  display: flex;
  >*{
    margin-top: auto;
    margin-bottom: auto;
  }
}

.right-icon{
  outline: 1px solid;
  padding: 0.25em;
  margin-left: 0.35em;
  height: 100%;
  display: inline-block;
  width: 2.5em;
  // border-radius: 8px;
  --color: black;

  text-shadow: 0px 0px 1px var(--color);
  color: var(--color);
  outline-color: var(--color);

  .bi { color: inherit; }
  &.hidden{
    opacity: 0.33;
    color: #333;
    outline-color: #333;
    text-shadow: none;
  }
}
.ocl-ico{
  --color: #ff2020;
}
.js-ico{
  --color: goldenrod;
  padding-left: 0.125em;
}
.ex-ico{
  width: 1.4ic;
  color: #207720;
  outline-color: #207720;
  padding-left: 0.125em;
}
/*.hidden{
  visibility: hidden;
}
*/
.priority{
  width: 72px;
  white-space: nowrap;
  // direction: rtl;
  text-align: right;
  margin-top: 4.1px; // apparently cannot edit his height/width or align text vertically
}
.right-content, .hover-stuff{
  --anim-in: all 0.2s linear;
  --anim-out: all 0.2s linear;
  cursor: pointer;
  transform: scaleX(1);
  transition: var(--anim-in);
  display: flex;
  transform-origin:left;
  transform: scaleX(1);
  max-height: 26px;
  height: 26px;
  white-space: nowrap;
  // border: 2px solid red;
  >:first-child{margin-left: auto;}
}
.left-stuff{
  padding-left: 0.125em;
  .bi{
    font-size: 0.7em;
    color: gray;
    cursor: pointer;
  }
  .bi-caret-right-fill{
    // visibility: hidden;
    cursor: not-allowed;
  }
  .bi:hover{
    color: black;
  }
  .bi-chevron-down::before, .bi-chevron-right::before {
    scale: 1.25;
    font-weight: 900 !important;
  }
  width: 1.3ch;
}
.right-content{
  cursor: default;
}
.right-stuff{
  max-height: 26px;
  height: 26px;
  .spacer{
    margin-left: auto;
  }
}
.inline-row {
  padding-right: 0.5em;
  border-radius: 10px;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  --hover-bg: #eee;
  &:hover{
    background-color: var(--hover-bg);
    outline: 2px solid #999;
  }
  .right-stuff{
    transform-origin:right;
  }
  .hover-stuff{
    // width: 0;
    height: 26px;
    &>*{ height: 26px; }
    .bg, .bx{
      height: 26px;
      font-size: 15px;
    }

    .bx{
      display: flex;
      font-size: 16px;
      &:before{
        line-height: 1;
        margin: auto;
      }
    }
    //transform: scaleX(0);
    transition: var(--anim-out);
    // position: absolute;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;

    // float: right;
    margin-right: 0.5em;
  }
  &:hover{
    .hover-stuff{
      transition: var(--anim-in);
      transform: scaleX(1);
    }
    .right-content{/*
      width: 0;
      //transform: scaleX(0);
      transition: var(--anim-out);
      transform: scaleX(0);*/
    }
  }
}


.btn-delete.green:hover{
  background: var(--palette-gg);
}
.mid-stuff{
  flex-grow:1;
  cursor: pointer;
}
.single-view-content{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: var(--bg-color);
  z-index: 1;
}

.view-editor-root{
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-right: 0.25em;
  background: white;
  &:has(.single-view-content){
    overflow: hidden;
  }
  .dock-content .dock-tabpane{
    overflow: auto !important;
  }
}
