
/* NEW NAVBAR */
.new-navbar {
  list-style-type: none;
  background-color: var(--fg-1);
  padding: 0 0.25em 0 1em;
  overflow: hidden;
  display: flex;
  > li {
    position: relative;
    cursor: pointer;
  }
  /* Navbar links styling */
  label {
    display: block;
    color: var(--color);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1.1em;
    margin: 10px 0px 10px 0px;
    padding-top: 2px;
    height: 25px;
    
    &:hover{
      /* background-color: #f5f5f5;
      border-radius: 4px;*/
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-decoration-color: var(--accent);
    }
  }
  .bi.list {
    display: block;
    color: var(--color);
    font-size: 1.3em;
    transition: color 0.2s;
    &:hover {
      color: var(--accent);
      transition: color 0.2s;
    }
  }

}


/* Dropdown content */
.new-dropdown-content {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  margin-top: 0em;
  display: none;
  position:fixed;
  background-color: var(--color);
  min-width: 200px;
  list-style-type: none;
  box-shadow:0px 10px 20px rgba(000,000,000,0.3),inset 0px 0px 1px rgba(255,255,255,0.8);
  padding: 3px;
  padding-left: 15px;

  li label {
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    color: var(--fg-1);
    font-weight: 200;
    font-size: 12px;
    margin: 0 4px 0 4px;
    padding: 3px 8px 3px 8px;
    height: 25px;
    &:hover {
      text-decoration: none;
      background-color: var(--accent);
      border-radius: 4px;
    }
  }
}

/* Show the dropdown menu on hover */
.new-dropdown:hover .new-dropdown-content {
  display: block;
}


.nav-container {
  display: flex;
  background-color: var(--bg-1);
  height: 32px;
  padding: 0px var(--side-padding);
  font-weight: 200;

  .nav-hamburger {
    color: var(--color);
    font-size: 1.5em;
    padding-right: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s;
    .bi:hover {
      color: var(--accent);
      transform-origin: center;
      transform: rotate(180deg);
    }
    label div {
      float: right;
    }
  }
}


.nav-container .nav-hamburger label div .bi {
  color: white;
  font-size: 0.75em;
  padding-top: 2px;
  font-weight: 800;
}

.nav-container .nav-logo {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.nav-commands {

  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-container .content {
  background-color: var(--color);
  min-width: 200px;
  top: 100%;
  font-size: 12px;
  left: -20px;
  box-shadow: none;
  height: fit-content;

  & ul {
    padding-right: 0;
    padding-left: 0;
    list-style: none;
  }

  & ul li {
    padding-left: 0;
    padding-right: 0;
  }

  ul li.divisor {
    padding: 3px 0;
  }

  ul li hr {
    position: relative;
    color: #8a8a8a;
    width: 180px;
    left: 5px;
  }

  & label {
    color: var(--bg-1);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 200;
    width: calc(100% - 8px);
    margin: 0 4px 0 4px;
    padding: 3px 10px 3px 8px;
  }

  & label:hover {
    background-color: var(--accent);
    border-radius: 4px;

  }

  & .keystroke .bi {
    font-size: 0.9em;
    font-kerning: none;
    padding-top: 2px;
  }

}
// ho riunito i miei cambiamenti in un solo posto per distinguere le mie aggiunte ed eventualmente annullarne parti.



.nav-container .content.context-menu {
  width: auto;
}
.nav-container .content.context-menu ul {
  width: max-content;
  min-width: 100%;
  padding: 4px 0px;
  --font-color-1: white;
  .content.right{
    min-height: 100%;
  }
  >li{
    display: flex;
    width: 100%;
    &:hover, &:focus-within{
      >label{
        border-radius: 4px;
        background-color: var(--accent);
      }
    }
    >label{
      display: flex;
      padding: 3px 8px;
      width: 100%;

      >*:first-child{
        flex-grow: 1;
      }
      .keystrokes{
        height: 18px;
        display: flex;
        justify-content: end;

        >*{
          font-size: 12px;
          i.bi{
            font-size: inherit;
            &:hover{
              color: var(--color-1);
            }
          }
          width: 1.1ic;
          text-align:center;
        }
      }
    }
  }
}

.nav-container .content.right {
  left: calc(100% - 20px);
  padding-left: 30px;
  background-color: transparent;
  top: 0px;
  ul {
    position: relative;
  }
  box-shadow: none;

  & .keystroke {
    float: right;
    margin-right: 10px;

  }
}

.nav-container .user {

  padding-right: 20px;
  margin-top: auto;
    margin-bottom: auto;
}

.user-initials {
  width: 28px;
  height: 28px;
  border-radius: 22px;
  color: white;
  font-weight: 400;
  text-align: center;
  padding-right: 1px;
  background-color: var(--secondary);
  font-size: 1rem;
  padding-top: 1px;
  transition: 0.3s;
}

.user-initials:hover {
  background-color: var(--accent);
  transition: 0.3s;
}

.nav-side {
  position: absolute;
  width: fit-content;
  right: calc(var(--side-padding) - 12px);
  padding-right:0;
  float: right;
  top: 4px;
  margin-top: auto;
  margin-bottom: auto;

}
