/* EDITORS */
.editors {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20em;
    top: 2.35em;
    padding-left: 5px;
    left: revert !important;
}

.editor-button {
    padding: 0.5em;
    border-radius: 999px 0 0 999px;
    width: 100%;
    margin-top: 0.25em;
    cursor: pointer;
}

.editor-container {
    border-radius: 5px 0 0 5px;
    height: 100%;
    padding: 0.5em;
    background: #eee;
    width: 100%;
}

/* FOOTER */
.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 0.25em;
    background: #5F0F40;
    width: 100%;
    z-index: 99;
}

/* NAVBAR */
.my-navbar {
    width: 100%;
    padding: 0.3em;
    background: #5F0F40;
    display: flex;
    z-index: 99;
}
.my-navbar > .items-container > .item {
    color: white;
    cursor: pointer;
    padding: 0 0.5em;
}
.my-navbar > .items-container > .item:hover {
    text-decoration: underline;
    overflow: visible;
}
.my-navbar > .items-container > .sub-items-container {
    top: 1.8em;
    background: white;
    padding: 0.3em;
    position: absolute;
    z-index: 999;
}
.my-navbar > .items-container > .sub-items-container > .sub-item {
    cursor: pointer;
    padding: 0 0.3em;
    display: block;
}
.my-navbar > .items-container > .sub-items-container > .sub-item:hover {
    text-decoration: underline;
}

/* NEW NAVBAR */
.new-navbar {
    list-style-type: none;
    background-color: #5F0F40;
    overflow: hidden;
    display: flex;
    padding-left: 0.1em;
}

.new-navbar > li {
    position: relative;
    cursor: pointer;
}

/* Navbar links styling */
.new-navbar label {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
}

.new-navbar label:hover {
    text-decoration: underline;
}

/* Dropdown content */
.new-dropdown-content {
    margin-top: 0.1em;
    display: none;
    position: fixed;
    background-color: #5F0F40;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    list-style-type: none;
}

.new-dropdown-content li label {
    padding: 0.5em;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.new-dropdown:hover .new-dropdown-content {
    display: block;
}
