/* COLOR SCHEME */

.nav-container {
    --color: #233d4d;
    --accent: #f3b700;
    --bg-1: white;
    --bg-2: #f5f5f5;
    --bg-3: #e2e2e1;
    --bg-4: #8f908e;
    --bg-5: #525251;
    --danger: #ed474a;
    --success: #3ddc97;
    --side-padding: 2em;
    --sep-padding: 4em;
}

.footer {
    --color: #233d4d;
    --accent: #f3b700;
    --bg-1: white;
    --bg-2: #f5f5f5;
    --bg-3: #e2e2e1;
    --bg-3-1: #c3c3c1;
    --bg-4: #8f908e;
    --bg-5: #525251;
    --danger: #ed474a;
    --success: #3ddc97;
    --side-padding: 2em;
    --sep-padding: 4em;
}


/* EDITORS */
.editors {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20em;
    top: 2.35em;
    padding-left: 5px;
    left: revert !important;
}

.editor-button {
    padding: 0.5em;
    border-radius: 999px 0 0 999px;
    width: 100%;
    margin-top: 0.25em;
    cursor: pointer;
}

.editor-container {
    border-radius: 5px 0 0 5px;
    height: 100%;
    padding: 0.5em;
    background: #eee;
    width: 100%;
}

/* FOOTER */
.footer {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    font-weight: 200;
    background: var(--color);
    color: var(--bg-3);
    width: 100%;
    z-index: 1000;
    border-top: 1px solid var(--color);
}

.footer label {
    border-right: 1px solid var(--bg-5);
    padding: 0.25em 2em 0.25em 2em; 
}

.footer .coordinates {
    text-align: center;
    color: var(--bg-3);
    padding-top: 0.3em;
    width: 400px!important;
    border-right: 1px solid var(--bg-5);
    padding-right: 20px;
    font-weight: 200;
}

.footer .bi {
    color: var(--danger);
    font-size: 1.1em;
    padding: 0 4px;
}

.footer .bi-bell, .footer .bi-terminal {
    color: var(--fg-1);
    font-size: 1.3em;
    padding-bottom: 0em;
}

.footer .widgetbar {
    position: absolute;
    bottom: 0;
    right: 2em;
    font-size: 13px;
    font-weight: 100;
}

.footer .widgetbar .widget {
    float: right;
}

.footer .widgetbar .widget:hover {
    color: var(--accent);
    cursor:pointer;
}

.footer .widgetbar .notify {
    display: none;
    align-items: center;
    position:absolute;
    right: 0px;
    margin-right: 0;
    bottom: 40px;
    width: 550px;
    min-height: 42px;
    background-color: var(--bg-3);
    border: 1px solid var(--bg-3-1);
    color: var(--bg-5);
    box-shadow:0px 2px 4px rgba(000,000,000,0.3),inset 0px 0px 1px rgba(255,255,255,0.1); 
    border-radius: 4px;
    padding: 5px 13px 5px 13px;
    font-size: 1.2em;
    font-weight: 300;
    transition: 0.3s;
}

.footer .widgetbar .show {
    display: flex;
}


.footer .widgetbar .bi {
    color: var(--fg-1);
    margin-left: 20px;
    padding-top: 0px;
    font-size: 1.2em;
}

.footer .widgetbar .bi.active  {
    color: var(--accent);
}

.footer .widgetbar label {
    border:none;
    padding: 0 0 0 2px;
    padding-bottom: 0.4em;
}
.footer .widgetbar .notify .message {
    width: 87%;
}
.footer .widgetbar .notify .button {
    float: right;
    width: 20%;
    text-align: right;
}

.footer .widgetbar .notify .button .bi {
    padding:0;
    margin-left:12px;
}

.footer .widgetbar .notify .button .bi:hover {
    color: var(--bg-5);
    cursor:auto;
}
.footer .widgetbar .notify .button .bi-chevron-down {
    padding: 2px 4px 1px 4px;
    border-radius: 4px;
    border: 1px solid var(--bg-3-1);
}

.footer .widgetbar .notify .button .bi-chevron-down:hover {
    background-color: var(--bg-3-1);
    color: var(--bg-5);
    
    cursor: pointer;
    transition: 0.3s;
}

.footer .bi:hover {
    color: var(--accent);
    cursor: pointer;
}

/* NAVBAR */
.my-navbar {
    width: 100%;
    padding: 0.3em;
    background: #5F0F40;
    display: flex;
    z-index: 99;
}
.my-navbar > .items-container > .item {
    color: var(--fg-1);
    cursor: pointer;
    padding: 0 0.5em;
}
.my-navbar > .items-container > .item:hover {
    text-decoration: underline;
    overflow: visible;
}
.my-navbar > .items-container > .sub-items-container {
    top: 1.8em;
    background: var(--fg-1);
    padding: 0.3em;
    position: absolute;
    z-index: 999;
}
.my-navbar > .items-container > .sub-items-container > .sub-item {
    cursor: pointer;
    padding: 0 0.3em;
    display: block;
}
.my-navbar > .items-container > .sub-items-container > .sub-item:hover {
    text-decoration: underline;
}

/* NEW NAVBAR */
.new-navbar {
    list-style-type: none;
    background-color: var(--fg-1);
    padding: 0 0.25em 0 1em;
    overflow: hidden;
    display: flex;
}

.new-navbar > li {
    position: relative;
    cursor: pointer;
}

/* Navbar links styling */
.new-navbar label {
    display: block;
    color: var(--color);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1.1em;
    margin: 10px 0px 10px 0px;
    padding-top: 2px;
    height: 25px;
}

.new-navbar label:hover {
    /* background-color: #f5f5f5;
    border-radius: 4px;*/
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--accent);
}

.new-navbar .bi.list {
    
    display: block;
    color: var(--color);
    font-size: 1.3em;
    transition: color 0.2s;
}

.new-navbar .bi.list:hover {
    color: var(--accent);
    
    transition: color 0.2s;

}

/* Dropdown content */
.new-dropdown-content {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin-top: 0em;
    display: none;
    position:fixed;
    background-color: var(--color);
    min-width: 200px;
    list-style-type: none;
    box-shadow:0px 10px 20px rgba(000,000,000,0.3),inset 0px 0px 1px rgba(255,255,255,0.8); 
    padding: 3px;
    padding-left: 15px;
}

.new-dropdown-content li label {
    
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    color: var(--fg-1);
    font-weight: 200;
    font-size: 12px;
    margin: 0 4px 0 4px;
    padding: 3px 8px 3px 8px;
    height: 25px;
}

.new-dropdown-content li label:hover {
    text-decoration: none;
    background-color: var(--accent);
    border-radius: 4px;
}

/* Show the dropdown menu on hover */
.new-dropdown:hover .new-dropdown-content {
    display: block;
}


.nav-container {
    display: flex;
    background-color: var(--bg-1);
    width: 100%;
    height: auto;
    padding: 0px var(--side-padding);
    font-weight: 200;
}

.nav-container .nav-hamburger {
    color: var(--color);
    font-size: 1.5em;
    padding-right: var(--sep-padding);
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s;

}

.nav-container .nav-hamburger .bi:hover {
    color: var(--accent); 
   
    transform-origin: center;
    transform: rotate(180deg);
}

.nav-container .nav-hamburger label div {
    float: right;
    margin-right: 0;
}

.nav-container .nav-hamburger label div .bi {
    color: white;
    font-size: 0.75em; 
    padding-top: 2px; 
    font-weight: 800;
}

.nav-container .nav-logo {
    padding: 4px var(--sep-padding) 4px 0;
}

.nav-container .content {

    background-color: var(--color);
    min-width: 200px;
    top: 100%;
    font-size: 12px;
    left: -20px;
    box-shadow: none;
    height: fit-content;

    & ul {
        padding-right: 0;
        padding-left: 0;
        list-style: none;
    }

    & ul li {
        padding-left: 0;
        padding-right: 0;
    }
    
    ul li.divisor {
        padding: 3px 0;
    }

    ul li hr { 
        position: relative;
        color: #8a8a8a;
        width: 180px;
        left: 5px;
    }

    & label {
        color: var(-bg-1);
        cursor: pointer;
        display: block;
        font-size: 12px;
        font-weight: 200;
        width: calc(100% - 8px);
        margin: 0 4px 0 4px;
        padding: 3px 10px 3px 8px;
    }

    & label:hover {
        background-color: var(--accent);
        border-radius: 4px;
        
    }
    
    & .keystroke .bi {
        font-size: 0.9em;
        font-kerning: none;
        padding-top: 2px;
    }

}

.nav-container .content.right {
    left: calc(100% - 20px);
    padding-left: 30px;
    background-color: transparent;
    top: 0px;
    ul {
        position: relative;
    }
    box-shadow: none;

    & .keystroke {
        float: right;
        margin-right: 10px;
        border: 1px solid red;

    }
}


