.pinnable-dock-root{
    display: flex;
    flex-flow: column;
    flex-grow:1;

    .pinnable-strip{
        --pinnable-strip-h: calc(0px + 31px);
        --pinnable-strip-w: calc(0px + 31px);
        --content-border: 1px solid #108ee9;
        --navbar-h: 42px;
        position: relative;
        background-color: whitesmoke;
        &.empty{
            display: none;
        }

        &.dock-drop-indicator.empty{
            display: flex;
            position: absolute;
            background-color: transparent;
            pointer-events: none;
            z-index: 999;
            // because with pos:absolute it is not affected by flex and it collapses to left
            &.pinnable-strip-r{
                right:0;
            }
            &.pinnable-strip-b{
                bottom:0;
            }
        }
        &.dock-drop-indicator::after{
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: #88c7f4 !important;
            z-index: 400;
            position: absolute;
            box-sizing: border-box;
            pointer-events: none;
            border: solid 1px #fff;
            opacity: 0.5;
            box-shadow: 0 0 4px #ddd;
            transition: all 0.1s ease-out;
            // display: none;
        }
        .dock-layout{
            width: 100%;
            height: 100%;
            overflow: visible;
        }
    }

    transform-style: preserve-3d;
    &>.pinnable-strip:has(.dock-nav-list:hover, .dock-content-holder:hover){
        transform-style: preserve-3d;
        &>.dock-layout{
            transform-style: preserve-3d;
            &>.dock-box {
            transform-style: preserve-3d;
                &>.dock-panel{
                    transform-style: preserve-3d;
                    &>.dock {
                        transform-style: preserve-3d;
                        overflow: visible;
                        &>.dock-content-holder{
                            transform: translateZ(1px);
                        }
                    }
                }
            }
        }
    }
}
.pinnable-strip{

    .dock-bar.drag-initiator{
        // disable whole panel dragging in strip.
        pointer-events: none;
    }
    .dock-nav-list>.dock-tab{
        //pointer-events: all; // re-enable events removed for panel in the single tabs

        // drag cannot start from subelements (content injected with portals)
        // otherwise since the tab header content is portal-ed, it bubbles the event to the source docklayout,
        // so i need to trigger it from the "static" empty tab header container
        >*{pointer-events: none;}
    }
    .active-on-mouseenter{ pointer-events: all; }


    .dock-tab:hover .pin-button{
        display: inline;
        margin-left: .5em;
        pointer-events: all;
    }
    .dock-content-holder{
        // display: none;
        // &:hover{ display: block; }
        position: absolute;
        z-index: 999;
        height: max-content;
        width: max-content;
        --safetymargin: 0px;
        pointer-events: all;
        max-width: calc(100vw - var(--pinnable-strip-w) - var(--safetymargin));
        max-height: calc(100vh - var(--navbar-h) - var(--pinnable-strip-h) - var(--safetymargin));
        overflow: auto;
    }
}
.dock-tab > div {
    padding: 4px 14px;
    outline-color: #108ee9;
}
.pinnable-strip{
    .dock-tab > div {
        padding: 0px;
    }

    .dock-tab-btn, .drag-initiator, .drag-initiator>div{
        height: 100%;
        width: 100%;
    }
}
.active-on-mouseenter{
    padding: 4px 14px;
    height: 100%; width: 100%;
}
.pin-button{
    display: none;
}
.dock-tab:has(.moved-content){
    display: none;
}

.pinnable-strip-t{
    width: 100%;
    height: var(--pinnable-strip-h);
    .dock-content-holder{
        top: calc(var(--pinnable-strip-h) - 3px);
        border: var(--content-border);
        border-top: none;
    }
}
.pinnable-strip-b{
    width: 100%;
    height: var(--pinnable-strip-h);
    .dock-content-holder{
        bottom: calc(var(--pinnable-strip-h) - 3px);
        border: var(--content-border);
        border-bottom: none;
    }
}

.pinnable-strip-l{
    width: var(--pinnable-strip-w);
    height: 100%;
    .dock-content-holder{
        left: calc(var(--pinnable-strip-w) - 3px);
        border: var(--content-border);
        border-left: none;
    }
}
.pinnable-strip-r{
    width: var(--pinnable-strip-w);
    height: 100%;
    .dock-content-holder{
        right: calc(var(--pinnable-strip-w) - 3px);
        border: var(--content-border);
        border-right: none;
    }
}
.pinnable-dock-middle-strip{
    // height: calc(100% - var(--pinnable-strip-h) * 2);
    flex-grow: 1;
    display: flex;
    position: relative;
}
.dock-layout.dock-drop-indicator{
    /*background: #88c7f4 !important;
    z-index: 400;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    border: solid 1px #fff;
    opacity: 0.5;
    box-shadow: 0 0 4px #ddd;
    display: none;
    transition: all 0.1s ease-out;*/
}

div.dock-drop-layer{
    --drop-button-size: 32px;
    .dock-drop-square.dock-drop-top-anchor{
        top: calc(50% - var(--drop-button-size) * 3);
        &::before{content:'📌'}
        &:hover{background: #88c7f4;  color: white;}
    }
    .dock-drop-square.dock-drop-left-anchor{
        left: calc(50% - var(--drop-button-size) * 3);
        &::before{content:'📌'}
        &:hover{background: #88c7f4;  color: white;}
    }
    .dock-drop-square.dock-drop-right-anchor{
        left: calc(50% + var(--drop-button-size) * 2);
        &::before{content:'📌'}
        &:hover{background: #88c7f4;  color: white;}
    }
    .dock-drop-square.dock-drop-bottom-anchor{
        top: calc(50% + var(--drop-button-size) * 2);
        &::before{content:'📌'}
        &:hover{background: #88c7f4;  color: white;}
    }
}
