.dashboard-row {
  background: #fff;
  cursor: pointer;
  &:hover{ background: #eee; }

}

project-card .tip {
  display: none;
  background-color: var(--bg-5);
  color: white;
  padding: 2px 6px 2px 6px;
}




.project-card {
  --color: #233d4d;
  --accent: #048BA8;
  --accent-disabled: var(--bg-4);
  --secondary: #048BA8;
  --terziary: #5F0F40;
  --bg-1: white;
  --bg-2: #f5f5f5;
  --bg-25: #f5f5f5;
  --bg-3: #e2e2e1;
  --bg-3_5: red;
  --bg-4: #8f908e;
  --bg-5: #525251;
  --danger: #ed474a;
  --success: #3ddc97;
  --side-padding: 2em;
  --sep-padding: 4em;

  --gr-0: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  --fg-0: var(--color);
  --gr-1: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  --fg-1: var(--color);;
  --gr-2: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  --fg-2: var(--color);
}

.project-card {
  position: relative;
  width: 23em;
  height: 100px;
  border-radius: 8px;
  background-color: var(--bg-2);
  background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  border: none;
  padding-bottom: 10px;
  border-bottom: 6px solid var(--accent);
  border-bottom: 6px solid #B5C6E0;
  color: #3A647E;
  margin: 0 .75em 2em 0;
  &>.project-actions>*{
    margin: auto;
  }
}

.project-card .meter {
  margin-left: 0;
  padding-top: 4px;
}

.project-card .meter  {
  
}

.project-card .meter .artifact {
  float: right;
  margin-right: 1px;
}

.project-card .meter .artifact span {
  visibility: hidden;
  opacity: 0;
  width: fit-content;

  padding: 1px 2px 1px 2px;
  text-align: center;
  transition: visibility 0s, opacity 0.5s linear;
}

.project-card:hover .meter .artifact span {

  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 3px;
}

.project-card .meter .metamodels {
  border-top: 6px solid #f3b700;
}
.project-card .meter .metamodels span {
  background-color: var(--bg-5); // #f3b700;
  color: white;
}


.project-card .meter .models {
  border-top: 6px solid #5f0f40;
}
.project-card .meter .models span {
  background-color: var(--bg-5); //#5f0f40;
  color: white;
}

.project-card .meter .viewpoints {
  border-top: 6px solid #087e8b;
}
.project-card .meter .viewpoints span {
  background-color: var(--bg-5); //#087e8b;
  color: white;
}

.project-card .header label.d-block .bi {
  margin-right: 4px!important;
  margin-left: 8px;
}
.project-card .header label.d-block .bi:first-of-type {
  margin-left: 0px!important;
}

.leftbar {
  background-color: white;
  max-width: 250px!important;
  min-width: 220px!important;
  flex-basis: 155px;
  flex-grow: 0.15;
  flex-shrink: 0;

  height: 100%;
  color: var(--color);

    & > .menu {

      padding-top: 10px;
      padding-bottom: 10px;
    }

    & > .menu div div {
      cursor: pointer;
      padding: 4px 8px 4px 2rem;
      display: block;
      border: none;

    }
    & > .menu div div:hover {
      background-color: #eee;
    }

    & > .menu div div .bi {
      padding-right: 0px;
      font-size: 1.15em;
    }

    & > .menu h1 {
      margin-top: 10px;
      font-size: 1.05em;
      padding-left: 2rem;
      font-weight: 500;
    }

    & > .bi-search {
      position: relative;
      top: 34px;
      left: 12px;
      font-size: 1.1em;
    }

    & > .bi-search:hover {
      color: var(--color);
    }

    & > input {
      width: calc(100% - 14px);
      border: none;
      background-color: var(--bg-2);
      margin: 7px 7px 7px 7px;
      border-radius: 3px;
      font-size: 1em!important;
      padding: 5px 8px 5px 25px;
      color: #A5A5A1;
      border: 1px solid var(--bg-2);
      outline: none;
      transition:  0.3s;
    }

    & > input::placeholder {
      color: #A5A5A1;
    }

    & > input:focus {
      background-color: var(--bg-3);
      color: #A5A5A1;
      border: 1px solid var(--bg-3);
      transition:  0.3s;
    }

    & .bi-chevron-down {
      cursor: pointer;
      float: left;
      padding-top: 17px;
      padding-left: 10px;
    }

    & .bi-chevron-down:hover {
      color: var(--accent);
    }

    & .bi-chevron-right {
      cursor: pointer;
      float: left;
      padding-top: 17px;
      padding-left: 10px;
    }

    & .bi-chevron-right:hover {
      color: var(--accent);
    }

    & > .upload {
      text-align: center;
      width: calc(100% - 14px);
      border: none;
      background-color: var(--bg-2);
      background: linear-gradient(90deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);
      background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);color: white;
      margin: 7px 7px 7px 7px;
      border-radius: 8px;
      font-size: 1em!important;
      padding: 15px;
      margin-top: 20px;
    }

    & > .upload p {
      margin-top: 10px;
    }

    & > .upload .bi {
      font-size: 2em;
      color: white;
    }

}

.project-card h5 {
  margin-bottom: 4px;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}

.project-card label {
  font-weight: 300;
  color: var(--bg-4);
}

.project-card .header {
  padding: 1.2em;
}

.project-card .tag {

  // background: linear-gradient(180deg, hsla(45, 100%, 88%, 1) 0%, hsla(191, 95%, 34%, 1) 100%);

  font-weight: 300;
  font-size: 13px;

  color: white;
  color: var(--bg-4);
  padding: 1.2em;
}

.project-card .tag h6 {
  color:  var(--bg-4);
  font-size: 1.3em;
  font-weight: 300;
}

.project-card .tag .bi {
  font-size: 1.2em;
  margin-left: -1px;
  color:  var(--bg-4);

}

.project-card .bi-star, .project-card .bi-star-fill {
  font-size: 1.2em;
  margin-right: 2px;
}

.project-card .bi-star:hover, .project-card .bi-star-fill:hover {
  color: var(--accent);
}

.bg-gray {
  background-color: #eee;
}
.text-gray {
  color: #eee;
}

.dashboard-container{
  display: flex;
  min-height: 0;
  flex-grow: 1;
  width: 100%;
  
}

.dashboard-container .user {
  display: inline-flex;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 20px;
  
  width: 100%;
  .name { 
    width: 100%;
    padding-top: 5px;
    padding-left: 0px!important;
    margin-bottom: 100px;
    h2 {
      font-weight: 400;
      font-size: var(--h1-lg-size);
      color: var(--color);
      
    }
    h3 {
      margin-top: 10px;
      font-size: var(--h2-size);
      width: 45%;
    }
    
  }

  .details {
    & b {
      font-weight: 600;
    }
  }


  .initials {
    text-align: center;
    font-size: 1.5em;
    width: 2.2em;
    height: 2.2em;
    padding: 6px;
    margin: auto 0.5em;
    color: white;
    border-radius: 30px;
    background-color: #087E8B;
  }
}

.card>.icon{
  min-width: fit-content;
  >.bi{
    margin: auto;
    margin-left: 0;
  }
}

.catalog-container {
  padding: 20px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  flex-basis: 1000px;
  flex-grow: 1;
  flex-shrink: 1;
  .col{
    display: flex;
  }
  .user-title{
    flex: 0 0;
    margin-top: 60px;
    margin-bottom: 60px;

    .add-project{
      margin: auto;
      margin-right: 0;
      height: fit-content;
    }
  }

}


