.alert-container {
  position: absolute;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  
  z-index: 9999;
}
.alert-card {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  width: 450px;
  height: 280px;
  background-color: whitesmoke;
  border-radius: calc(var(--radius) * 3);
  box-shadow: 0 0 10px gray;

  h1 {
    font-weight: 600;
    font-size: 1.5em;
    color: var(--accent)!important;
    text-align: center;
  }

  
}
.alert-header {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #E1FAF2;
  justify-content: center;

  & .bi {
    position: absolute;
    right: 30px;
    font-size: 1.5em;
    top: 30px;

  }

  & .alert-sign-outer {
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #D3F8EC;
    padding: 7px 14px;

  }
  .alert-sign-inner::before {
    width: 40px;
    height: 40px;
    margin: auto;

    border-radius: 50%;
    font-family: bootstrap-icons;
    font-size: 32px;
    content: '\F26B';
    
    color: #31C79B; // var(--success); 
  }
}

.alert-message {
  text-align: center;
}

.alert-button-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: auto;
  background-color: var(--bg-2-5);
  border-bottom-left-radius: calc(var(--radius) * 3);
  border-bottom-right-radius: calc(var(--radius) * 3);
  text-align: center;
  padding-top: 10px;
  border: 2px solid transparent;
}

.alert-btn {
  display: inline-block;
  background-color: var(--color);
  color: white;
  &:hover {
    background-color: transparent;
    color: var(--color);
    border: 2px solid var(--color)!important;
  }

}


