.navbar {
  padding: 0;
  background-color: whitesmoke;
}

.nav-item {
  padding: 0 0.75rem;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  margin: auto;
}
.nav-item:hover, .nav-item:focus-within {
  color: black;
}

.dropdown-item {
  display: flex;
  font-size: 0.8rem;
  cursor: pointer;
}
.dropdown-item:active {
  background-color: whitesmoke;
  color: black;
}
.dropdown-menu li {
  position: relative;
}
.nav-item .submenu {
  display: none;
  position: absolute;
  left: 100%; top: 0;
}
.nav-item .submenu-left {
  right: 100%; left: auto;
}
.dropdown-menu > li:hover {
  background-color: #F1F1F1
}
.dropdown-menu > li:hover > .submenu {
  display: block;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
}

.dropdown-toggle::after {
  display: none;
}
