
.ui-draggable, .ui-resizable, .ui-rotatable{
  position: absolute !important; // because jqui sets the html style attr to relative
  &:not([nodeid]){
    border: 1px solid var(--palette-g);
  }
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  &.panning-handle{
    border: none;
  }
}

.DGraphVertex:focus-within .panning-handle.ui-draggable{
  overflow: visible;
  // problema: senza of:visible un graphVertex con panning non mostra il contenuto in overflow, mai.
  // con of: visible cliccando sull'overflow in un punto "vuoto" (panning handle va in overflow) seleziono il graphvertex invece del grafo
}
.scrollable, .panning-handle, .panning-content{
  width: 100%;
  height: 100%;
}

.panning-content{
  position: relative;
  left: var(--offset-x);
  top: var(--offset-y);
}

.localized-panning-root{ // unused for now
  width: 100%;
  height: 100%;
  overflow: visible;
  .panning-handle{
    width: 20px;
    height: 20px;
    outline: 1px solid red;
    background: wheat;
    position: absolute;
    cursor: grab;
    overflow: visible;
  }
}