
.ui-draggable, .ui-resizable, .ui-rotatable{
  position: absolute !important; // because jqui sets the html style attr to relative
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  &:not([nodeid]){
    border: 1px solid var(--palette-g);
  }
}
.ui-draggable.panning-handle{
  overflow: visible;
  border: none;
}

.panning-handle, .panning-content{
  width: 100%;
  height: 100%;
}
.scrollable, .not-zoomed {
  width: calc(100% / var(--total-zoom-x));
  height: calc(100% / var(--total-zoom-y));
}

.panning-content{
  position: relative;
  left: var(--offset-x);
  top: var(--offset-y);
}

.localized-panning-root{ // unused for now
  width: 100%;
  height: 100%;
  overflow: visible;
  .panning-handle{
    width: 20px;
    height: 20px;
    outline: 1px solid red;
    background: wheat;
    position: absolute;
    cursor: grab;
    overflow: visible;
  }
}