.dock-panel{
  --background1: #fafafa; //#facccc;
  --background2: #ddd; // #d88;
  --background3: #fff; // #fff;
  --color1: #f0f0f0; // #f00;
  --color2: #333; // #c33;
  --color3: #108ee9; // #108ee9
  --color4: #000;
}


.dock-panel.dock-style-custom .dock-tab {
  margin-right: 0;
  border: 1px solid var(--background2);
  background: var(--background2);
  color: #fff;
  border-radius: var(--radius) var(--radius) 0 0;
  background: var(--background3);
  color: var(--color4);
}

.dock-panel.dock-style-transparent .dock-tab{
  opacity: 0.5;
}
.dock-panel.dock-style-transparent .dock-tab.dock-tab-active{
  opacity: 1;
}
.dock-panel.dock-style-large .dock-tab.dock-tab-active{
  color: var(--color3);
}

.dock-layout > :not(.dock-fbox) .dock-panel.dock-style-ghostone .dock-bar{
  position: absolute;
  display: inline-block;
  z-index: 1;
  // opacity: 0;
  border-radius: 0;
  height: 30px;
  width: 30px;
  right: 0;
  top: 0;
  background-image: url('//img/outline_drag_indicator_black_24dp.png');
  overflow: hidden;
  padding-right: 30px; // i pulsanti azione li sposto oltre l'area che triggera visibilità
  &:hover, &:focus-within{
    background-image: none;
    width: auto;
    height: auto;// 31px;
    border-radius: var(--radius);
  }
  transition: all 0.15s ease-in-out;
}
/*
.dock-panel.dock-style-ghostone .dock-tab +
.dock-panel.dock-style-ghostone .dock-tab.dock-tab-active,
.dock-panel.dock-style-ghostone .dock-tab.dock-tab-active +
.dock-panel.dock-style-ghostone .dock-tab{
  display: block; // nascondo la scheda attiva se è l'unica schedae la mostro se ha adiacenti. l'unica scheda è sempre selected
}
*/

.dock-panel.dock-style-card .dock-bar {
  background: var(--background1);
  border-radius: var(--radius) var(--radius) 0 0;
  border-bottom: 1px solid var(--background2);
}

.dock-panel.dock-style-card .dock-tab-hit-area {
  /* cover the border area */
  left: -1px;
  right: -1px;
}

.dock-panel.dock-style-card .dock-panel-max-btn {
  opacity: 1;
  width: 30px;
  height: 100%; // calc(100% - 5px);
  // margin-top: 5px;
  //background-image: url("../../img/google/2x/baseline_fullscreen_black_24dp.png");
  background-size: cover;
  background-color: var(--background1);
  // background-blend-mode: overlay; // | soft-light
}
.dock-panel.dock-style-card .dock-panel-max-btn:before {
  border-color: #fff;
  color: #fff;
  content: '-';
  display: none;
}

.dock-mbox .dock-panel.dock-style-card .dock-panel-max-btn{
  //background-image: url("../../img/google/2x/baseline_fullscreen_exit_black_24dp.png");
}

.dock-panel-max-btn {
  background-color: red!important;
}


/* different color for the focused panel */
.dock-panel.dock-style-card{
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--background1);
}
.dock-panel.dock-style-card:focus-within {
  // outline: 2px solid var(--background1);
  border: 1px solid var(--background2);
  // outline: none; box-shadow: 0px 0px 8px var(--color1);
}

/* tab buttons take all the space */
.dock-panel.dock-style-large .dock-nav-list {
  flex-grow: 1;
}
.dock-panel.dock-style-large .dock-tab {
  flex: 1 0 auto;
}

/* global dock layout styles */
.dock-layout > .dock-drop-indicator {
  border: solid 1px var(--color1);
  box-shadow: inset 0 0 10px var(--color1);
  background: none;
}

///// additional buttons
.dock-style-addable{
  .dock-nav-operations/*.dock-nav-operations-hidden*/~.dock-extra-content{
    display: none;
  }
  .dock-nav-operations.dock-nav-operations-hidden~.dock-extra-content{
    display: flex;
  }
  .my-panel-extra-container {
    display: flex;
    margin: auto;
    height: 100%;
  }
  .my-panel-extra-btn{
    padding: 6px 4px 4px 2px;
    margin: 4px 2px 2px 0;
  }
}
