.menuitem {
    margin-right: 8px;
    font-size: 1.2em;
}

.submenu .menuitem {
    font-size: 1.2em;
    display: block;
    text-align: right;
}

.highlight span .menuitem {
    margin-right: 2px;
}

.highlight span img.menuitem {
    margin-right: 10px;
}

.question {
    color: #ed474a!important;
}

