#updates-page{
  height: calc(100% - 120px);
  // padding-bottom: 30px; // the bottom bar
  display: flex;
  flex-flow: column;

  .feat{
    &button{

    }
  }
  .fix{}
  .newbug{}
  .info{}
  .opt{}

  .version-name{
    cursor: pointer;
    position: relative;

    &:before{
      opacity: 0;
      content: '';
      position: absolute;width: 31px;
      transform: translateX(-31px);
      height: 100%;
      // border: 1px solid red;
    }
    .bi{
      visibility: hidden;
      position: absolute;
      transform: translateX(calc(-100% - 5px));
      font-size: 1.5rem;
      font-weight: 700;
      &:before{
        // both to align and to prevent transform:inherit from other style.
        transform: translateY(12.5%);
      }
    }
    &:hover .bi{
      visibility: visible;
    }
  }
  ul.version-list{
    overflow-y: scroll;
    overflow-x: hidden;
    .version{
      padding-left: 1.5rem;
    }
  }

  .filter-container{
    &>button{
      margin: 1em;
    }
  }
  --newbug-color: red;
  --fix-color: green;
  --feat-color: dodgerblue;
  --opt-color: goldenrod;
  --info-color: gray;


  ul.entry-list{
    list-style: none;
    padding-left: 0;
    --bug-fill: "\F1DB";
    --buginsect: "\F1DC"; //
    --tools: "\F5DB"; //
    --hammer: "\F3FF";
    --wrench: "\F621";
    --plus: "\F4FE"; //
    --infoi: "\F434"; //
    --lighting: "\F46C"; //
    --newbug: var(--buginsect);//'BUG';
    --fix: var(--tools);
    --feat: var(--plus);
    --info: var(--infoi);
    --opt: var(--lighting);

    li.entry{
      margin-bottom: 1em;
      position: relative;
      span{
        display:inline-block; // :first-letter does not work with inline
      }
      .title:first-letter, .content:first-letter {
        text-transform: uppercase;
      }
      &:before{
        font-weight: 700;
        position: absolute;
        left: -0.25em;
        padding-top: 0.05em;
        // transform: translateX(-25px);
        transform: translateX(calc(-100% - 5px));
        font-family: 'bootstrap-icons';
        width: 1lh;
        height: 1lh;
        border-radius: 100%;
        text-align: center;
        outline: 1px solid var(--color);
        transform-origin: center;
        // outline-offset: 1px;
        color: var(--color);
        content: var(--content);
      }
      &:hover:before{
        color: white;
        background-color: var(--color);
        transform: translateX(calc(-100% - 5px)) scale(1.25);
        // scale: 1.25;
      }
      &.newbug{
        --content: var(--newbug);
        --color: var(--newbug-color);
      }
      &.fix{
        --content: var(--fix);
        --color: var(--fix-color);
      }
      &.info{
        --content: var(--info);
        --color: var(--info-color);
      }
      &.feat{
        --content: var(--feat);
        --color: var(--feat-color);
      }
      &.opt{
        --content: var(--opt);
        --color: var(--opt-color);
      }
      .title{
        font-weight: 700;
      }
      .content{
        display: block;
      }
    }
  }
}