.MTM-tab{
  display: flex;
  flex-flow: column;
  .monaco-editor-wrapper{
    flex-basis: 0;
    height: 0;
    flex-grow: 1;
  }
  .fragments{
    height: 38px;
    overflow: hidden;
    &:hover{
      overflow: visible;
      z-index: 10000;
    }

    >.fill{
      width: 100%;
      height: max-content;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .fragment-btn {
      margin: auto;
      margin-top: .3em;
    }
  }
  .export-row{
    display: flex;
    flex-wrap: wrap;
    button{
      min-width: 100px;
      width: 45%;
      margin: auto;
      margin-top: 0.5em;
      grid-gap: 0.5em;
    }
  }

  .editors{
    max-height: 75vh;
    overflow: hidden;
    >.t2m, >.m2t {
      max-width: calc(50% - 2ic - 1ic);
      // padding-top: 1ic;
    }
    >.t2m{
      padding-left: 1ic;
      order: 3;
    }
    >.m2t{
      padding-right: 1ic;
      order: 1;
    }
    >.separator{
      order: 2;
      width: 1ic;
      border-radius: 1em;
      background-color: #ddd;
      cursor: col-resize;
      margin-left: 1ic;
      margin-right: 1ic;
    }
  }
  .command-bar.back-button{
    height: fit-content;
    .btn-component{
      height: fit-content;
      .bi.tab-btn.back{
        display: block;
      }
    }
  }
}