.dock-content-holder #DockComponent_rightbar_5 {

    // Node
  
  
    section {
      margin: 1rem 0.5rem;
    }

    .node-editor {
        margin: 0.5rem;
        border-radius: var(--radius);
        background-color: var(--bg-2);

        .input-container{
            input{
                margin: auto 0;
            }
        }


        h3 {
            color: var(--accent);
            font-size: 1.3em;
            padding-bottom: 6px;
            height: auto;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--bg-2-5);

        }
        h3::before {
            position: relative;
            top: 3px;
            margin-top: 10px;
            color: var(--accent);
            font-family: bootstrap-icons;
            content: "\F4CA";
            margin-right: 6px;
            font-size: 1.1em;
        }

        .my-auto {
            font-weight: 400;
            font-family: var(--default-font-family);
            color: var(--color);
            font-size: 1em;
        }

        input[type=number] {
            padding-right: 0;
        }
        .anchor-editor{
            width: 100%;
            height: 200px;
            padding: 20px;
            max-width: 200px;
            margin: 0 auto;
            overflow: hidden;
            &:hover, &:focus, &:focus-within{
                overflow: visible;
            }
            .anchor-holder{
                height: 100%;
                position: relative;
                outline: 1px solid black;
                .editor-anchor{
                    transform: translate(-50%, -50%);
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    background-color: var(--bg-2);
                    p {
                      transform: translateX(-50%);
                      margin-left: 50% !important;
                    }
                    &:hover, &.selected {
                        background-color: #7f7;
                        overflow: visible;
                    }
                }
            }
        }
    }
  }
  