// the paramenters are defined in src/styles/variables.scss


.command-bar {

    position: relative;
    display: flex;
    left: 0!important;
    margin-bottom: 10px;
    height: 24px;
    text-align: left!important;
    border-radius: 0!important;
    border-bottom: 1px dotted var(--bg-3);
    
    // CommandBar button

    & .tab-btn {
      cursor: pointer;
      font-size: var(--btn-font-medium-size)!important;
      background-color: transparent;
      font-family: bootstrap-icon;
      margin-right: 2px!important;

      // theme

      & .tab-btn.bi.dark  {
        color: white!important;
        background-color: transparent!important;
      }
    }

    // up
    
    & .tab-btn.up {
      color: var(--btn-up)!important;
    }
    & .tab-btn.up:hover {
      color: var(--btn-up-accent)!important;
    }
    & .tab-btn.up::before {
      content: "\F147";
    }
    & .tab-btn.up:hover::before {
      content: "\F146";
    }

    // down
    
    & .tab-btn.down {
      color: var(--btn-up)!important;
    }
    & .tab-btn.down:hover {
      color: var(--btn-up-accent)!important;
    }
    & .tab-btn.down::before {
      content: "\F126";
    }
    & .tab-btn.down:hover::before {
      content: "\F125";
    }

    // back
    
    & .tab-btn.back {
      color: var(--btn-back)!important;
    }
    & .tab-btn.back:hover {
      color: var(--btn-back-accent)!important;
    }
    & .tab-btn.back::before {
      content: "\F12E";
    }
    & .tab-btn.back:hover::before {
      content: "\F12D";
    }

    // add
    
    & .tab-btn.add {
      color: var(--neutral)!important;
    }
    & .tab-btn.dark.add {
      color: white!important;
    }
    & .tab-btn.add:hover {
      color: var(--success)!important;
    }
    & .tab-btn.add::before {
      content: "\F4FB";

    }
    & .tab-btn.add:hover::before {
      content: "\F4FC";

    }

    // delete
    
    & .tab-btn.delete {
      color: var(--neutral)!important;
    }
    & .tab-btn.dark.delete {
      color: white!important;
    }
    & .tab-btn.delete:hover {
      color: var(--failure)!important;
    }
    & .tab-btn.delete::before {
      content: "\F2E7";

    }
    & .tab-btn.delete:hover::before {
      content: "\F2E8";

    }

    // delete 2

    & div.delete2 {
      margin-left: auto;
      margin-right: auto;
      display: block;
      color: var(--neutral);
      width: 100%!important;
      height: var(--input-height);
      border: 1px solid var(--neutral);

    }

    & div.delete2.dark {
      position: inherit;
      display: block;
      border: 1px solid white;
      width: 100%;
      color: white!important;
    
    }


    & .tab-btn.dark.delete2 {
      color: white!important;
    }

    & .tab-btn.delete2:hover {
      color: var(--failure)!important;
    }

    & .tab-btn.delete2::before {
      content: "\F2E7";

    }

    & .tab-btn.delete2:hover::before {
      content: "\F2E8";

    }


     
    // sizes

    & .tab-btn.x-small {
      font-size: var(--btn-font-x-small-size)!important; 
      margin: 0!important;
      padding: 0!important;
    }
    & .tab-btn.small {
      font-size: var(--btn-font-small-size)!important;
      margin: 0!important;
      padding: 0!important;
    }
    & .tab-btn.large {
      font-size: var(--btn-font-large-size)!important;
      margin: 0!important;
      padding: 0!important;
    }
    & .tab-btn.medium {
      font-size: var(--btn-font-medium-size)!important;
      margin: 0!important;
      padding: 0!important;
    }

    // disabled

    & .tab-btn.disabled {
      cursor: normal!important;
      color: var(--disabled)!important; 
    }
    & .tab-btn.disabled:hover {
      cursor: not-allowed;
      color: var(--disabled)!important; 
    }

    
    
  }

  button.jj-delete {
    border: 1px solid white!important;
    height: 1.8rem!important;
    background-color: transparent!important;
    margin-top: 20px!important;
    font-size: 1em;
    font-weight: 300;
  }

  button.jj-delete:hover {
    border: 1px solid var(--failure)!important;
    background-color: var(--failure)!important;
    cursor: pointer;
  }