@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wlb5wt');
  src:  url('fonts/icomoon.eot?wlb5wt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wlb5wt') format('truetype'),
    url('fonts/icomoon.woff?wlb5wt') format('woff'),
    url('fonts/icomoon.svg?wlb5wt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jj {
    
}

.jj-object:before {
  content: "\e90a";
}
.jj-class:before {
  content: "\e909";
}
.jj-operation:before {
  content: "\e905";
}
.jj-reference:before {
  content: "\e906";
}
.jj-package:before {
  content: "\e907";
}
.jj-attribute2:before {
  content: "\e908";
}
.jj-literal:before {
  content: "\e90d";
}
.jj-enumerator:before {
  content: "\e90c";
}
.jj-delete:before {
  content: "\e900";
}
.jj-plus:before {
  content: "\e901";
}
.jj-copy:before {
  content: "\e902";
  margin-right: 2px!important;
  margin-left: 2px!important;

}
.jj-deep-copy:before {
  content: "\e903";
  margin-right: 2px!important;
  margin-left: 2px!important;
}
.jj-square:before {
  content: "\e904";
}





/* JJodel Icons Custom settings */

.jj.palette {
  position: relative;
  display: inline-block;
  top: 6px;
  font-size: 1.4em;
  color: white;
  padding-right: 0px;
}

.jj:hover {
  color: var(--bg-5);
  cursor: pointer;
}

.jj.palette:hover {
  color: white;
}

