.color-picker-root{
  position: relative;
}



.color-container, .suggestion-container{
  background: white;
  height: 32px;
  display: flex;
}
.hoverable:hover .content.suggestions{
  display:flex;
  flex-flow: column;
  position: absolute;
  z-index: 99999;
}
.color-picker-root.hoverable>input:focus + .content.suggestions {
  // display: none !important;
}

.controls:not(:focus-within) .color-picker-root:hover, .color-picker-root:focus-within{
  // padding: 5px !important;
  background: #dedede;
  outline: 1px solid gray;
  border-radius: 20%;
  overflow: visible;
  // height: 200%;
  z-index:1; // otherwise when hovering the overflow delete button on bottom, it counts as if i'm hovering next line and button disappears. weird bug
}
.controls:focus-within .content.suggestions:not(:focus-within){
  display: none !important;
}

.suggestions{
  width: max-content;
  // min-width: 500px;
  transform: translate3d( calc(-50% + 24px / 2), 0px, 6600px);
  >*{margin-left: 1em; margin-right: 1em;}
  h6{
    margin-top: .5em;
    margin-bottom: 0.25em;
    cursor: pointer;
    &:hover{
      font-weight: 700;
    }
  }

}

.palette-row{
  display: flex;
  // position: relative;
  // z-index: 2;
  .roww .color-suggestion{
    margin-left: 0.5em;
    margin-right: 0.5em;
    content-visibility: hidden;
    border-width: 0;
    &:hover{
      border-width:2px;
      content-visibility: visible;
      font-weight: 700;
    }
  }
  input, button{ // prefix controls
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    &.delete-color{/*
      position: absolute;
      width: 32px;
      height: 32px;
      left: calc(50% - 16px - 32px);
      top: calc(-32px - 0.25em);*/
      width: calc(100% - 1em);
      margin: 0.5em;
    }
    &.prefix{
      width: 33%
    }
  }
  label{
    input, button{ // in-palette color controls
      width: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.color-suggestion{
  border: 2px solid white;
  outline: 1px solid gray;
}
