@import "src/styles/variables";

.tree {
  & > .DModel > b {color: $model-color}
  & > .DPackage > b {color: $package-color}
  & > .DClass > b {color: $class-color}
  & > .DObject > b {color: $class-color}
  & > .DAttribute > b {color: $attribute-color}
  & > .DReference > b {color: $reference-color}
  & > .DEnumerator > b {color: $enum-color}
  & > .DEnumLiteral > b {color: $literal-color}
  & > .DOperation > b {color: $operation-color}
  & > .DParameter > b {color: $parameter-color}
  & > .DValue > b {color: $feature-color}
  & > label.name:hover {
    text-decoration: underline;
  }
}



.my-tooltip {
  position: fixed;
  bottom: 0.75em;
  left: 50%;
  // top: 85%;
  transform: translate(-50%, 0);
  z-index: 999;
  background: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding: 10px;
}
