.tooltip-wrapper{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  &>*{
    pointer-events: all;
    margin: auto;
    background: whitesmoke; //var(--palette-w);
    padding: 1em;
    border: 1px solid var(--palette-g);
    border-radius: 0.5em;
  }
  &.top>*{
    margin-top: 10vh;
  }
  &.bottom>*{
    margin-bottom: 10vh;
  }
}
