@import "src/styles/variables";

.tree {
  & > .DModel > b {color: $model-color}
  & > .DPackage > b {color: $package-color}
  & > .DClass > b {color: $class-color}
  & > .DObject > b {color: $class-color}
  & > .DAttribute > b {color: $attribute-color}
  & > .DReference > b {color: $reference-color}
  & > .DEnumerator > b {color: $enum-color}
  & > .DEnumLiteral > b {color: $literal-color}
  & > .DOperation > b {color: $operation-color}
  & > .DParameter > b {color: $parameter-color}
  & > .DValue > b {color: $feature-color}
  & > label.name:hover {
    text-decoration: underline;
  }
}



/* TREE */

.tree-icon  {
  float: left;
  font-weight: bold;
  display: flex;
  margin: 1px  3px;
  width: fit-content;
  border-radius: 2px;
  border: 1px solid gray;
  overflow: hidden;
  font-size: 0.75em;
}

.type {
  border-right: 1px solid gray;
  height: 100%;
  display: block; margin: auto;
  padding: 0 3px;
  color: white;
  width: 18px;
  text-align: center;
}

.tree-icon .name {
  padding: 0 4px;
  font-weight: normal;
  cursor: pointer;
}

.tree-DModel, .tree-Model {
  background-color: #5F0F40;
}
.tree-DPackage, .tree-Package {
  background-color: #087E8B;
}
.tree-DClass, .tree-Class {
  background-color: #DF1619;
}
.tree-DAttribute, .tree-Attribute {
  background-color: #C5D86D;
}
.tree-DReference, .tree-Reference {
  background-color: #ABC7D8;
}
.tree-DOperation, .tree-Operation {
  background-color: #FA8334;
}
.tree-DParameter, .tree-Parameter {
  background-color: #aaaaaa;
  // color: black;
}
.tree-DEnumerator, .tree-Enumerator {
  background-color: #F3B700;
}
.tree-DEnumLiteral, .tree-EnumLiteral {
  background-color: #857C8D;
}
.tree-DObject, .tree-Object {
  background-color: #C2B2B4;
}
.tree-DValue, .tree-Value {
  background-color: #C19AB7;
}
