div.updates-container {
    position: absolute;
    background-color: var(--color-bg-tertiary);
    border: none;
    border-radius: var(--radius-sm);
    left: 320px;
    bottom: 100px;
    width: 1100px;
    min-height: 200px;

    padding: 20px;

    & h1 {
        font-size: 1.3em;
        font-weight: var(--font-medium);
    }

    & .updates-item {
        & h2 {
            margin-top: 10px;
            font-size: 1.1em;
            display: inline;
        }
    }

}
