/* COLOR SCHEME */

.nav-container, .footer, .catalog-container, .context-menu {
    --color: #233d4d;
    --color-lighter: #30545a;
    --accent: #087E8B; //#f3b700;
    --bg-1: white;
    --bg-2: #f5f5f5;
    --bg-3: #e2e2e1;
    --bg-3-1: #c3c3c1;
    --bg-4: #8f908e;
    --bg-5: #525251;
    --danger: #ed474a;
    --success: #3ddc97;
    --side-padding: 31px;
    --sep-padding: 4em;
    --secondary: #087e8b;
}

/* EDITORS */
.editors {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20em;
    top: 2.35em;
    padding-left: 5px;
    left: revert !important;
}

.editor-button {
    padding: 0.5em;
    border-radius: 999px 0 0 999px;
    width: 100%;
    margin-top: 0.25em;
    cursor: pointer;
}

.editor-container {
    border-radius: 5px 0 0 5px;
    height: 100%;
    padding: 0.5em;
    background: #eee;
    width: 100%;
}

/* FOOTER */

.footer {

    width: 100%;
    // position: absolute;
    display: flex;
    bottom: 0;
    font-weight: 200;
    background: var(--color);
    color: var(--bg-3);
    width: 100%;
    z-index: 1000;
    border-top: 1px solid var(--color);
    margin-top: auto; // not necessary, but sometimes it renders first as only element (because others are heavier) and it appears on top briefly before descending, this keeps it in place.
    // the bug might be related to the double-loading of a page?
}

.footer label {
    color: silver!important;
    border-right: 1px solid var(--bg-5);
    padding: 0.25em 2em 0.25em 2em;
    font-family: Anton;

}


.footer .coordinates {
    text-align: center;
    color: var(--bg-3);
    padding-top: 0.3em;
    width: 400px!important;
    border-right: 1px solid var(--bg-5);
    padding-right: 0px;
    font-weight: 400;
}

.footer .license {
    position: absolute;
    bottom: 0;
    right: 195px;
    color: var(--bg-3-1);

    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0.3em 0em;
    font-family: Anton;
    font-weight:400;
    &:hover {color: white}
    transition: 0.3s;

    & a {
        color: var(--bg-3-1);
        text-decoration: none;   
    }

    & a:hover {
        color: var(--accent);
    }
}

.footer .bi {
    color: var(--danger);
    font-size: 1.1em;
    padding: 0 4px;
}

.footer .bi-bell, .footer .bi-terminal {
    color: var(--fg-1);
    font-size: 1.3em;
    padding-bottom: 0em;
}

.footer .widgetbar {
    position: absolute;
    bottom: 0;
    right: 2em;
    font-size: 13px;
    font-weight: 100;
    color: var(--bg-2);
    
}

.router-wrapper footer.footer div.jjodel {
    float: right!important;
    position: absolute;
    bottom: 4px;
    color: silver!important;
    right: 2em;
    font-size: 13px;
    font-weight: 300;
    font-family: Anton;
    transition: color 0.3s!important;

    &:hover {
        color: white!important;
    }
}

.footer .widgetbar .widget {
    float: right;
}

.footer .widgetbar .widget:hover {
    color: var(--accent);
    cursor:pointer;
}

.footer .widgetbar .notify {
    display: none;
    align-items: center;
    position:absolute;
    right: 0px;
    margin-right: 0;
    bottom: 40px;
    width: 550px;
    min-height: 42px;
    background-color: var(--bg-3);
    border: 1px solid var(--bg-3-1);
    color: var(--bg-5);
    box-shadow:0px 2px 4px rgba(000,000,000,0.3),inset 0px 0px 1px rgba(255,255,255,0.1);
    border-radius: 4px;
    padding: 5px 13px 5px 13px;
    font-size: 1.2em;
    font-weight: 300;
    transition: 0.3s;
}

.footer .widgetbar .show {
    display: flex;
}


.footer .widgetbar .bi {
    color: var(--fg-1);
    margin-left: 20px;
    padding-top: 0px;
    font-size: 1.2em;
}

.footer .widgetbar .bi.active  {
    color: var(--accent);
}

.footer .widgetbar label {
    border:none;
    padding: 0 0 0 2px;
    padding-bottom: 0.4em;
}
.footer .widgetbar .notify .message {
    width: 87%;
}
.footer .widgetbar .notify .button {
    float: right;
    width: 20%;
    text-align: right;
}

.footer .widgetbar .notify .button .bi {
    padding:0;
    margin-left:12px;
}

.footer .widgetbar .notify .button .bi:hover {
    color: var(--bg-5);
    cursor:auto;
}
.footer .widgetbar .notify .button .bi-chevron-down {
    position: relative;
    right: 0px;
    top: -2px;
    padding: 2px 4px 1px 4px;

    border-radius: 4px;
    border: 1px solid var(--bg-3-1);
    font-size: 0.9em;
}
.footer .widgetbar .notify .button .bi-chevron-down:hover {
    background-color: var(--bg-3-1);
    color: var(--bg-5);

    cursor: pointer;
    transition: 0.3s;
}

.footer .bi:hover {
    color: var(--accent);
    cursor: pointer;
}

.footer .jjodel-control-icon {
    
}
/* NAVBAR * /
used by Navbar_NEW_OLD.tsx (purple version)

.my-navbar {
    width: 100%;
    padding: 0.3em;
    background: #5F0F40;
    display: flex;
    z-index: 99;
}
.my-navbar > .items-container > .item {
    color: var(--fg-1);
    cursor: pointer;
    padding: 0 0.5em;
}
.my-navbar > .items-container > .item:hover {
    text-decoration: underline;
    overflow: visible;
}
.my-navbar > .items-container > .sub-items-container {
    top: 1.8em;
    background: var(--fg-1);
    padding: 0.3em;
    position: absolute;
    z-index: 999;
}
.my-navbar > .items-container > .sub-items-container > .sub-item {
    cursor: pointer;
    padding: 0 0.3em;
    display: block;
}
.my-navbar > .items-container > .sub-items-container > .sub-item:hover {
    text-decoration: underline;
}*/


.add-project {
    margin-right: 0;
    padding-right: '0'!important;
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 20px 4px 12px;
}

.add-project:hover {
    background-color: var(--bg-5);
}

.add-project .bi, .add-project:hover .bi {
    color: white;
}

/* .modal {
    position: fixed;
    
    top: 30%;
    left: 42%;
    width: 16%;
    height: 16%;
    background-color: white;
    border: 0px solid var(--color);
    border-radius: var(--radius);
    box-shadow: 0 0 10px black;
}


.modal-container {
    position: fixed!important;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.85;
}*/

.about {
    cursor: pointer;
}




.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 20, 30, 0.2); /* Semi-transparent dark overlay */
    backdrop-filter: blur(8px); /* Apply blur effect to background */
    z-index: 999; /* Place the container above other content */
}

.modal {
    display: flex;
    flex-direction: column;
    top: 50%; /* Start at 50% from the top */
    left: 50%; /* Start at 50% from the left */
    transform: translate(-50%, -50%); /* Adjust for its own width and height */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    z-index: 1000; /* Ensure it appears above the background */
    width: 580px; /* Responsive modal width */
    height: 340px; /* Prevent overflow */
    overflow-y: auto; /* Scroll for tall content */
}

.modal > div {
    padding-bottom: 10px;
    flex: 1 2 0;
    color: #2D4E62;
    font-family: 'Inter Tight', sans-serif;
}

/*.model img {
    margin-top: 20px!important;
}*/
  
button.close {
    margin: auto!important;
    font-family: "Inter Variable", sans-serif!important;
    background-color: #2D4E62;
    color: white;
    border-radius: 6px;
    width: fit-content;
    border: 2px solid #2D4E62;
    padding: 2px 24px;
    font-size: 1.2em;

    
}

button.close:hover {
    background-color: white;
    border: 2px solid #2D4E62;
    color: #2D4E62;
}

span.project-link {
    
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 4px;
    width: fit-content;
    height: 20px;
    background-color: var(--bg-2);
    font-size: 0.8em;
    padding: 0px 5px 5px 10px;
    border-radius: 3px 3px 3px 3px;
    font-family: Lekton, monospace;
    font-weight: 400;
    cursor: pointer;
    color: var(--bg-3-1)
}

span.project-link > span {
    color: var(--bg-5);
}
span.project-link > span ~ span {
    color: var(--bg-3-1);
}


span.project-link::after {
    background-color: var(--bg-2);
    position: relative;
    left: 0!important;
    top: 3px;
    font-family: bootstrap-icons;
    font-size: 1em;
    content: "\F28E";
    padding-left: 20px;
}

.menu .bi-circle-fill{
    margin-left: 10px;
    font-size: 0.7em;
    color: var(--a);
}

