
img { -webkit-user-drag: none; }
body {
    &,#root{
        max-width: 100vw;
        max-height: 100vh;
        width: 100vw;
        height: 100vh;
        background-color: whitesmoke;
        overflow: hidden;
    }
    font-family: Lato, 'Helvetica Neue', Arial,Helvetica, sans-serif !important;
    font-size: small;
    #root{
        position: fixed; // without this, it can scroll
        display: flex;
        flex-direction: column;
    }
}

::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
    &:active, &:hover{
        background: #555;
    }
}

.debug {
    border: 1px dashed red;
}
.ui-draggable, .ui-resizable, ui-rotatable{
    position: absolute !important; // because jqui sets the html style attr to relative
    border: 1px solid var(--palette-g);
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
/*
.form-control:focus {
    border-color: #e0e0e0 !important;
    box-shadow: none;
}*/
