.edit-panel {
  position: absolute;
  z-index: 9999;
  // top: 0px!important;
  // left: 210px!important;
  border-radius: 6px;
  border: 1px solid red;

  background: var(--bg-2-5);
  min-width: 350px;
  min-height: 200px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border: none!important;
  color: var(--color)!important;
  padding: 0 2px;

  & hr {
    color: var(--bg-4);
  }

  & .properties-tab {

    background: var(--bg-2-5);
    padding: 0!important;
    
    & > h1:before {
      content: '\F4CA'!important;
    }
    & h1::before {
      content: '';
    }
    & .ms-4 {
      margin-left: 0!important;
      padding-left: 0!important;
    }
    & .border {
      border: none!important;
    }

    & label.d-flex {
      padding: 0!important;
      margin: 0!important;

      & > label.my-auto {
        margin: 0!important;
        padding: 0!important;
      }
    }

    & div.command-bar {
      margin-bottom: 0!important;
    }

    & select {
      height: var(--height)!important;
      padding: 2px!important;
      margin: 0!important;
    }

    & input {
      margin-left: 0!important;
      margin-bottom: 10px!important;
      margin-top: -5px!important;
    }
    
  }

  & > .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: var(--bg-2-5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {

      color: var(--accent)!important;
    }

    &::before {
      content: '\F62A';
      font-family: 'bootstrap-icons';
      font-size: 1.6em;
      color: var(--color);
    }
  }

}

.edit-panel.dark {
  background: var(--color);
  color: white!important;
}


.context-menu {
  position: absolute;
  z-index: 1001;
  width: 200px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #233d4d;
  color: white;
  background: #233d4d;
  padding: 8px;
  .name{
    font-size: 0.9rem;
    font-weight: bold;
  }
  hr.my-1{
    color: #8a8a8a;
    width: 100%;
  }
  .submenu-holder.hoverable>.content{
    box-shadow: none;
    left: calc(100% - 15px);
    top: -8px; // offset the contextmenu padding to align first sub-menu item to hovered item.
    &>.context-menu{
      box-shadow: var(--smart-elevation-8);
    }
  }

  .item{
    cursor: pointer;
    padding: 3px 8px;
    font-weight: 200;
    font-size: 0.75rem;
    display: flex;
    line-height: 20.8px; // only way i found to center raw text
    >*{
      margin: auto 0;
    }

    &:hover {
      background-color: var(--accent);
      border-radius: var(--radius);
    }

    i.bi {
      color: white !important;
      font-size: 1.2em;
      width: 1.5ic;
    }

    &>div{
      display: inline;
      margin-left: auto;
    }
  }
}


// memorec
.memorec-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.4);
}
.memorec-popup {
  position: absolute;
  z-index: 999;
  background: whitesmoke;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 25px;
}
.memorec-button {
  cursor: pointer;
  background: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding: 5px;
}

// rules  not understood
.highlight > span > img {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
}

.highlight .bi {
  color: white;
  font-size: 1.2em;
  padding-right: 8px!important;
}

.highlight .hidden {
  color: var(--color);
}
.highlight:hover .hidden {
  color: var(--secondary);
}