$green: darkgreen;
$red: darkred;
$size: 20px;


.edge-pending-check {
  width: $size;
  height: $size;
  right: 0;
  position: absolute;
  margin: 2px;
  border-radius: 999px;
}

.is-pending {
  background: $green;
}

.is-not-pending {
  background: $red;
}

#extend-target {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 999px;
}

.anchor {
  position: absolute; border-radius: 100px; border: 1px solid black;
  width: 20px; height: 20px;background-color: white;
  top:0;
  z-index: 999;
}
.middle-anchor {
  position: absolute; border-radius: 100px; border: 1px solid;
  width: 7px; height: 7px; background-color: white;
  z-index: 999;
}

.extending-tab {
  position: absolute;
  z-index: 999; top: 5px; right: 5px;
  box-shadow: 0 0 2px #C0C0C0;
  background: whitesmoke;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding: 3px;
}
.extending-cancel {
  cursor: pointer;
}
.extending-cancel:hover {
  text-decoration: underline;
}
